<div id="page-content" class="page-content m-2">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header bg-primary text-white"><i class="fa fa-comment"></i> Contact us.
                    </div>
                    <div class="card-body">
                        <form [formGroup]="contactFrm" (ngSubmit)="onSubmit()">
                            <div class="form-group row">
                                <div class="col">
                                    <label for="name">Full Name</label>
                                    <input formControlName="fullName" class="form-control" type="text" [ngClass]="{'is-invalid': (frmCtrls.fullName.dirty || frmCtrls.fullName.touched) && frmCtrls.fullName.invalid && frmCtrls.fullName.errors}"
                                        placeholder="Full Name *">
                                    <div *ngIf="(frmCtrls.fullName.dirty || frmCtrls.fullName.touched) && frmCtrls.fullName.invalid && frmCtrls.fullName.errors"
                                        class="invalid-feedback">
                                        <span
                                            *ngIf="frmCtrls.fullName.errors.required">{{reqMsg}}</span>
                                        <span *ngIf="frmCtrls.fullName.errors.minlength">Minimum length
                                            is {{nameMinLength}}</span>
                                        <span *ngIf="frmCtrls.fullName.errors.maxlength">Maximum length
                                            is {{nameMaxLength}}</span>
                                    </div>
                                </div>
                                <div class="col">
                                    <label for="name">Mobile Number</label>
                                    <input formControlName="mobileNumber" class="form-control"
                                        type="phone" [ngClass]="{'is-invalid': (frmCtrls.mobileNumber.dirty || frmCtrls.mobileNumber.touched) && frmCtrls.mobileNumber.invalid && frmCtrls.mobileNumber.errors}"
                                        placeholder="Mobile Number *">
                                    <div *ngIf="(frmCtrls.mobileNumber.dirty || frmCtrls.mobileNumber.touched) && frmCtrls.mobileNumber.invalid && frmCtrls.mobileNumber.errors"
                                        class="invalid-feedback">
                                        <span
                                            *ngIf="frmCtrls.mobileNumber.errors.required">{{reqMsg}}</span>
                                        <span *ngIf="frmCtrls.mobileNumber.errors.minlength">Minimum
                                            length is 6</span>
                                        <span *ngIf="frmCtrls.mobileNumber.errors.maxlength">Maximum
                                            length is 15</span>
                                        <span
                                            *ngIf="frmCtrls.mobileNumber.errors.pattern">Invalid Mobile Format</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input formControlName="email" class="form-control" type="email"
                                    [ngClass]="{'is-invalid': (frmCtrls.email.dirty || frmCtrls.email.touched) && frmCtrls.email.invalid && frmCtrls.email.errors}"
                                    placeholder="Email">
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                <div *ngIf="(frmCtrls.email.dirty || frmCtrls.email.touched) && frmCtrls.email.invalid && frmCtrls.email.errors"
                                    class="invalid-feedback">
                                    <span *ngIf="frmCtrls.email.errors.required">{{reqMsg}}</span>
                                    <span *ngIf="frmCtrls.email.errors.pattern">Invalid email
                                        format</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="message">Reason</label>
                                <textarea formControlName="reason" class="form-control"
                                    name="reason" id="" rows="3"
                                    placeholder="Reason *"
                                    [ngClass]="{'is-invalid': (frmCtrls.reason.dirty || frmCtrls.reason.touched) && frmCtrls.reason.invalid && frmCtrls.reason.errors}"></textarea>
                                <div *ngIf="(frmCtrls.reason.dirty || frmCtrls.reason.touched) && frmCtrls.reason.invalid && frmCtrls.reason.errors"
                                    class="invalid-feedback">
                                    <span *ngIf="frmCtrls.reason.errors.required">{{reqMsg}}</span>
                                </div>
                            </div>
                            <div class="mx-auto">
                            <button type="submit" [disabled]="contactFrm.invalid" class="btn btn-primary text-right">Send</button></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-4">
                <div class="card bg-light mb-3">
                    <div class="card-header bg-primary text-white text-uppercase"><i class="fa fa-map-marker"></i> Address</div>
                    <div class="card-body">
                        <p>Chilakaluripet - 522616</p>
                        <p>Guntur(dist)</p>
                        <p>A.P</p>
                        <!-- <p>Email : email@example.com</p> -->
                        <p>Tel. +91 9491000165</p>
    
                    </div>
    
                </div>
            </div>
        </div>
    </div>
</div>