.count{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
   
  
    span{
      width: 40px;
      height: 30px;
      display: flex;
      justify-content: center;
      border-radius: 0;
      align-items: center;
    }
    input{
      display: block;
      width: 80%;
      border: 1px solid #ced4da;
      height: 30px;
      text-align: center;
    }
  }