<div id="page-content" class="page-content">
    <section id="cart">
        <div class="container">
            <div class="row">
                <div class="col-md-12" *ngIf="viewCartList && viewCartList.length > 0;else emptyCart">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th width="10%"></th>
                                    <th>Products</th>
                                    <th>Price</th>
                                    <th width="15%">Quantity</th>
                                    <th>Subtotal</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let viewcart of viewCartList;let i = index;">
                                    <td>
                                        <img [src]="viewcart.imageUrl" alt="product-img" width="60">
                                    </td>
                                    <td>
                                            {{viewcart.productName | titlecase}}<br>
                                        <small>{{viewcart.productPackWeight}} {{viewcart.productPackType}}</small>
                                    </td>
                                    <td>
                                        Rs {{viewcart.productOfferPrice}}
                                    </td>
                                    <td>
                                        <div class="count">
                                            <span class="minus btn btn-primary" [ngStyle]="{'pointer-events': viewcart.productQuantity > 1 ? 'auto' : 'none'}" (click)="updateQty(viewcart, 'minus')">-</span>
                                            <input type="number" (focusout)="updateQty(viewcart, 'focus')" [(ngModel)]="viewcart.productQuantity" />
                                            <span class="plus btn btn-primary" [ngStyle]="{'pointer-events': viewcart.productQuantity >= 1 ? 'auto' : 'none'}" (click)="updateQty(viewcart, 'plus')">+</span>
                                        </div>
                                    </td>
                                    <td>
                                        Rs {{viewcart.productQuantity * viewcart.productOfferPrice}}
                                    </td>
                                    <td>
                                        <a href="javasript:void" class="text-danger" (click)="openModal(viewcart, 'delete', itemRemoveConfrm)"><i class="fa fa-times"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <ng-template #emptyCart>
                    <div class="col-md-12">
                        <div class="container-fluid">
                            <img src="assets/images/modal-icons/warning.png" alt="success-emoji" style="position: relative;
                            width: 15%;left: 43%;">
                            <h5 class="content-center mt-2">Cart is empty!</h5>
                            <small class="content-center">
                                <a href="javasript:void" (click)="goToStore()">Continue Shopping</a>
                            </small>
                        </div>
                    </div>
                </ng-template>
                <div class="col" *ngIf="viewCartList && viewCartList.length > 0">
                    <a href="javasript:void" (click)="goToStore()" class="btn btn-default">Continue Shopping</a>
                </div>
                <div class="col text-right" *ngIf="viewCartList && viewCartList.length > 0">
                    <!-- <div class="input-group w-50 float-right">
                        <input class="form-control" placeholder="Coupon Code" type="text">
                        <div class="input-group-append">
                            <button class="btn btn-default" type="button">Apply</button>
                        </div>
                    </div>
                    <div class="clearfix"></div> -->
                    <h6 class="mt-3">Total: Rs {{viewCartAmount}}</h6>
                    <a href="javasript:void" (click)="goToCheckout()" class="btn btn-primary" *ngIf="viewCartList && viewCartList.length > 0">Checkout <i class="fa fa-long-arrow-right ml-1"></i></a>
                </div>
            </div>
        </div>
    </section>
</div>
<ng-template #itemRemoveConfrm>
        <div class="modal-header">
            <h6 class="modal-title">Confirmation</h6>
                <button type="button" class="close" (click)="modalRef.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <img src="assets/images/modal-icons/warning.png" alt="warning-emoji" style="position: relative;
                width: 15%;left: 43%;">
                <h5 class="content-center mt-2">Are you sure...?</h5>
                <p class="content-center">You won't be able to revert this!</p>
            </div>
        </div>
        <div class="modal-footer content-center">
            <button type="button" class="btn btn-primary" (click)="updateQty(selectedItem, action)">Yes</button>
            <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">No</button>
        </div>
    </ng-template>
<div *ngIf="loader" class="default-loader"></div>