.banner{
    height: 100vh;
    .jumbotron{
        height: 100%;
    }
    .card-login{
        .login-btn{
            display: flex;
            align-items: center;
            justify-content:space-between;
            
            .btn{
                // width: auto;
            }
        }
    }
}
@media (max-width:767px){
    .banner{
        .jumbotron{
            padding: 20px;
        }
    }
}

.page-content {
    width: 100%;  
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
  }
.page-content::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(228, 226, 232, 0.5);
    /* background: -webkit-linear-gradient(left, rgba(0,168,255,0.5), rgba(185,0,255,0.5)); */
    background: -o-linear-gradient(left, rgba(0,168,255,0.5), rgba(185,0,255,0.5));
    background: -moz-linear-gradient(left, rgba(0,168,255,0.5), rgba(185,0,255,0.5));
    background: linear-gradient(left, rgba(0,168,255,0.5), rgba(185,0,255,0.5));
    pointer-events: none;
}
.auth-footer {
    z-index: 999;
    width: 100%;
    min-height: 20px;
    box-sizing: border-box;
    // padding: 30px;
    background: #ffffffdb;
    overflow: hidden;
    position: fixed;
    bottom: 0px;
    /* right: 30px; */
    display: none;
}

ul { 
    list-style: none; 
    margin-bottom: 0px; 
}

ul>li>a {
color: #ff6600;
text-decoration: none;
line-height: 1.8;
}
ul>li>a:hover,
a:hover{
color: #ff6600;
font-weight: 500;
}

.fa {
color: #f27526;
// margin-right: 10px;
font-size:18px;
width:2.25rem;
}
