<div id="page-content" class="page-content" style="background-image: url('./assets/images/bg.jpg');">
    <div class="">
        <div class="jumbotron-bg text-center rounded-0"
            >
            <div class="container">
                <!-- <h2 class="pt-3" [routerLink]="['/groceries/home']" style="cursor: pointer;">
                    Go to Home
                </h2> -->
                <div class="card card-login mb-5">
                    <div class="card-body">
                        <form [formGroup]="loginForm" class="form-horizontal" (ngSubmit)="onSubmit()">
                            <div class="form-group row mt-3">
                                <div class="col-md-12">
                                    <input class="form-control" type="text" formControlName="username"
                                        placeholder="Username / Mobile no. *"
                                        [ngClass]="{'is-invalid': (frmCtrls.username.dirty || frmCtrls.username.touched) && frmCtrls.username.invalid && frmCtrls.username.errors}">
                                    <div *ngIf="(frmCtrls.username.dirty || frmCtrls.username.touched) && frmCtrls.username.invalid && frmCtrls.username.errors"
                                        class="invalid-feedback">
                                        <span *ngIf="frmCtrls.username.errors.required">{{reqMsg}}</span>
                                        <span *ngIf="frmCtrls.username.errors.minlength">Minimum length
                                            is {{nameMinLength}}</span>
                                        <span *ngIf="frmCtrls.username.errors.maxlength">Maximum length
                                            is {{nameMaxLength}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <input class="form-control" type="password" formControlName="password"
                                        placeholder="Password *"
                                        [ngClass]="{'is-invalid': (frmCtrls.password.dirty || frmCtrls.password.touched) && frmCtrls.password.invalid && frmCtrls.password.errors}">
                                    <div *ngIf="(frmCtrls.password.dirty || frmCtrls.password.touched) && frmCtrls.password.invalid && frmCtrls.password.errors"
                                        class="invalid-feedback">
                                        <span *ngIf="frmCtrls.password.errors.required">{{reqMsg}}</span>
                                        <span *ngIf="frmCtrls.password.errors.minlength">Minimum length
                                            is {{pwdMinLength}}</span>
                                        <span *ngIf="frmCtrls.password.errors.maxlength">Maximum length
                                            is {{pwdMaxLength}}</span>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="form-group row">
                            <div class="col-md-12 d-flex justify-content-between align-items-center">
                                <div class="checkbox">
                                    <input id="checkbox0" type="checkbox" name="remember">
                                    <label for="checkbox0" class="mb-0"> Remember Me? </label>
                                </div>
                                <a href="login.html" class="text-light"><i class="fa fa-bell"></i> Forgot password?</a>
                            </div>
                        </div> -->
                            <div class="form-group row text-center mt-4">
                                <div class="col-md-12 login-btn">
                                    <button type="submit" [disabled]="loginForm.invalid"
                                        class="btn btn-primary btn-block text-uppercase">Log In</button>
                                        <!-- <button type="submit" [routerLink]="['/groceries/home']" class="btn btn-gray text-uppercase">Back to Home</button> -->
                                </div>
                            </div>
                            <div class="form-group mt-4 row">
                            <div class="col-md-12">
                                    <span style="color: #f27526;float: left;">Not Registered?&nbsp;<a href="javascript:void(0);" class="" (click)="goToSignup()" style="color: #2FA504;font-weight: 600;">Create an account</a>
                                    </span>
                                    <!-- <span style="color: #f27526;float: right;">Back to <a href="javascript:void(0);" class="" [routerLink]="['/groceries/home']" style="color: #2FA504;font-weight: 600;">Home</a></span> -->
                                <!-- <a href="javascript:void(0);" class="text-light"><i class="fa fa-bell"></i> Forgot password?</a> -->
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="auth-footer" id="auth-footer" style="opacity: 1; display: block;">
    <div class="row  row-no-gutters mt-2">
      <div class="col-xs-12 col-sm-6 col-md-4" >
        <ul>
          <li>
            <i class="fa fa-phone" aria-hidden="true"></i><a href="tel:+919491000165">+91 9491000165</a>
          </li>           
        </ul>
      </div>     
    
      <div class="col-xs-12 col-sm-6 col-md-4" >
        <ul>
            <li>
                <i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:ringthebell365@gmail.com?subject=New Suggestion from User">ringthebell365@gmail.com</a>
             </li>
        </ul>
      </div>      
    
      <div class="col-xs-12 col-sm-6 col-md-4" >
        <ul>
            <li>
                <i class="fab fa-facebook-square mr-2" style="color: #f27526;" aria-hidden="true"></i><a href="https://www.facebook.com/rtb365" target="_blank">/rtb365</a>  
             </li>
        </ul>
      </div>
    </div>    
    <div class="row row-no-gutters" id="bottom-footer" >
      <div class="col-xs-12 col-sm-12 col-md-12 text-center" style="border-top: 1px solid #8080803d;">
        <ul>
          <li style="color: grey;">&copy; 2020 Ring The Bell | Groceries Store | A Product from SSR Groups | All rights reserved.</li>
        </ul>
      </div>
    </div>
</div>

<div *ngIf="loader" class="default-loader"></div>