<div id="page-content" class="page-content">
  <div class="banner">
    <div class="jumbotron jumbotron-bg text-center rounded-0"
      style="background-image: url('./../../../../assets/images/bg-header.jpg');">
      <div class="container store-banner">
        <h3 class="pt-5" *ngIf="storeInfo">
          {{storeInfo.storeName | uppercase}}
        </h3>
        <p class="lead" *ngIf="storeInfo">
          {{storeInfo.address | titlecase}}&nbsp;|&nbsp;<small><i class="fa fa-phone"></i> {{storeInfo.storeNumber}}</small>
        </p>
        <div class="search-row">
          
          <div class="input-group mb-3">                            
            <input type="text" class="form-control" placeholder="Find your choice" [(ngModel)]="productName" aria-label="Enter the Product Name" aria-describedby="basic-addon2">
            <div class="input-group-append" style="cursor: pointer;" (click)="findProduct()">
              <span class="input-group-text" id="basic-addon2"><i class="fa fa-search"></i></span>
            </div>
          </div>
        </div>        
      </div>     
    </div>
  </div>

  <!-- <div class="row  m-0 no-gutters p-3">
    <div class="col-md-12">

      <carousel [itemsPerSlide]="itemsPerSlide" [singleSlideOffset]="singleSlideOffset" [interval]="false"
        [showIndicators]="false" [startFromIndex]="0" class="products-slider">
        <slide *ngFor="let slide of slides; let index=index;" class="px-3 m-0">
          <img [src]="slide.image" alt="image slide">
          <div class="product-caption">
            <h6 style="font-size: unset !important;">{{slide.name | titlecase}}</h6>
          </div>
        </slide>
      </carousel>
    </div>
  </div> -->
  <section class="gray-bg p-4">


    <div class="row m-0 p-3 bg-white" *ngIf="storeProds && storeProds.length > 0;else noProducts;">
      <div class="col-12 col-sm-12 col-lg-3  px-0" *ngFor="let prod of storeProds; let i = index;">
        <div class="card card-product">
          <!-- <div class="card-ribbon">
            <div class="card-ribbon-container right">
              <span class="ribbon ribbon-primary">SPECIAL</span>
            </div>
          </div> -->
          <div class="card-badge p-3">
            <div class="card-badge-container left" *ngIf="prod.productOffer && prod.productOffer > 0">
              <span class="badge badge-primary">
                {{prod.productOffer}}% OFF
              </span>
            </div>
            <img [src]="prod.productImage" alt="{{prod.productName}}" class="card-img-top">
          </div>
          <div class="card-body pt-0">
            <h4 class="card-title">
              <a href="javascript:void(0);">{{prod.productName}}</a>
            </h4>
            <div class="card-price">
              <span class="discount" *ngIf="prod.productOffer && prod.productOffer > 0;else noOffer">Rs. {{prod.productPrice}}</span>
              <ng-template #noOffer>
                <span class="" >Rs. {{prod.productPrice}}</span>
              </ng-template>
              <span *ngIf="prod.productOffer && prod.productOffer > 0;else defaultPrice" class="reguler">Rs. {{prod.productOfferPrice}} <small class="ml-1">(Pack {{prod.productPackWeight}} {{prod.productPackType}})</small></span>
              <ng-template #defaultPrice>
                <span class="reguler">Rs. {{prod.productPrice}} <small class="ml-1">(Pack {{prod.productPackWeight}} gms)</small></span>
              </ng-template>
            </div>
            <div class="quantity">
              <div class="count">
                <span [ngStyle]="{'pointer-events': prod.prodQty > 0 ? 'auto' : 'none'}" class="minus btn btn-primary" (click)="updateQty(prod, 'minus')">-</span>
                <input type="number" [(ngModel)]="prod.prodQty" value="1" (focusout)="updateQty(prod, 'focus')"/>
                <span  [ngStyle]="{'pointer-events': prod.prodQty >= 0 ? 'auto' : 'none'}" class="plus btn btn-primary" (click)="updateQty(prod, 'plus')">+</span>
              </div>
              <div class="add-cart">
                <button class="btn btn-primary add-to-cart" [disabled]="prod.prodQty <= 0" (click)="addToCart(prod)">
                  Add Cart
                </button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <ng-template #noProducts>
    <div class="row m-0 p-3 bg-white">
        <div class="col-12 col-sm-12 col-lg-12  px-0">
          <p style="display: flex;justify-content: center;font-size: x-large;">
              {{noProductsMsg | titlecase}} <img src="../../../../assets/images/modal-icons/error.png" alt="" style="width:25px;height:25px;margin-top: 5px;">
          </p>
        </div>
      </div>
    </ng-template>


  </section>

</div>
<div *ngIf="loader" class="default-loader"></div>