.products-slider
{
  display: flex;

  .carousel-item{
    width: auto!important;

    img{
      max-height: 120px !important;
      width: auto;
    }
  }
  .carousel{
    display: block;
    width: 100%;
  }
  .carousel-inner{
    justify-content: center;
    align-items: center;
  }
  .product-caption{
    display: flex;
    justify-content: center;
    align-items: center;

    h5{
      font-size: 1rem !important;
    }
  }
  .carousel-control-prev-icon, .carousel-control-next-icon{
    background-color: #ddd;
    padding: 20px;
    background-size: 50%;
    border-radius: 100%;
  }
}
.quantity {
  margin-bottom: 10px;
  display: flex;

.count{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin-right: 15px;

  span{
    width: 40px;
    height: 30px;
    display: flex;
    justify-content: center;
    border-radius: 0;
    align-items: center;
  }
  input{
    display: block;
    width: 80%;
    border: 1px solid #ced4da;
    height: 30px;
    text-align: center;
  }
}

}
.card-badge {
  padding-bottom: 0 !important;
  img{
    max-height: 100px;
    width: auto;
  }

}
.card-product .card-title{
  font-size: 1rem;
  margin-bottom: 5px;

  a{
    color: rgb(102,102,102);
    text-transform: capitalize;
  }
}
.card .card-badge .card-badge-container{
  top: 0;
}
.add-cart{
  display: flex;
  justify-content: center;
  .btn{
    border-radius: 3px;
  }
}
.card{
  border-radius: 0;
  margin-bottom: -1px;
  margin-right: -1px;
  .card-price span.reguler{
    display: flex;
      justify-content: center;
      align-items: center;
      small{
        font-size: 70%;
        color: #000;
      }
  }
}
.carousel {
  display: block;
  width: 95%;
  margin: 0 auto;
}
.carousel-control{
  opacity: 1;
    background-color: #ddd;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    top: 30%;
    left: -2%;
}
.carousel-control.right.carousel-control-next{
  right: -2%;
}
.store-banner{
  display: flex;
  flex-direction: column;
  align-items: center;
  .input-group{
    width: 50%;
    
  }
}
.search-row{
  display: flex;
  align-items: center;
  width: 75%;
  justify-content: center;
  .form-group{
    width: 25%;
    .form-control{
      border-radius: 0;
    }
   
  }
}

.add-to-cart.disabled, .add-to-cart:disabled {
  color: #f27526;
  background-color: #fff;
  border-color: #f27526;
}

@media (max-width:767){
  .search-row{
    display: flex;
    flex-direction: column;
  }
}