.custom-modal-cls .modal-content {
    border-radius: 1.3rem !important;
    border-color: red;
}

.modal-icon {
    position: absolute;
    left: 43%;
    top: -20px;
    background: #fff;
    border-radius: 35px;
}

.modal-icon span {
    border-radius: 25px;
    border: 1px solid;
    padding: 15px;
    background: #fff;
}