<div class="modal-icon" *ngIf="contentObj && contentObj.header && contentObj.header.icon">
    <img [src]="contentObj.header.icon"  style="padding: 5px;width:50px;">
</div>

<div class="modal-header" *ngIf="contentObj && contentObj.header.content">
    <h5 class="modal-title">{{contentObj.header.content}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
</div>
<div class="modal-body" *ngIf="contentObj && contentObj.body" style="top: 5px; padding: 0px;">
    <div class="m-4" [ngClass]="{'text-success': contentObj.body.class == 'success', 'text-danger': contentObj.body.class == 'danger', 'text-warning': contentObj.body.class == 'warning'}" style="display: flex;justify-content: center;">
            <h4>{{contentObj.body.headerLabel | titlecase}}</h4>
            <img *ngIf="contentObj.icon" [src]="contentObj.icon" style="width: 25px;height:25px;" alt="">
    </div>
</div>
<div class="modal-footer" *ngIf="contentObj && contentObj.btns">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary">Save</button>
</div>