<div class="row w-100">
    <div class="col-md-3">
        <div class="card border-info mx-sm-1 p-3">
            <div class="card border-info shadow text-info p-3 my-card"><span class="fa fa-cubes"
                    aria-hidden="true"></span></div>
            <div class="text-info text-center mt-3">
                <h4>Products</h4>
            </div>
            <div class="text-info text-center mt-2">
                <h4>{{productsCnt || 0}}</h4>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card border-info mx-sm-1 p-3">
            <div class="card border-info shadow text-info p-3 my-card"><span class="fa fa-truck"
                    aria-hidden="true"></span></div>
            <div class="text-info text-center mt-3">
                <h4>Orders</h4>
            </div>
            <div class="text-info text-center mt-2">
                <h4>{{ordersCnt || 0}}</h4>
            </div>
        </div>
    </div>
    <!-- <div class="col-md-3">
        <div class="card border-danger mx-sm-1 p-3">
            <div class="card border-danger shadow text-danger p-3 my-card"><span class="fa fa-heart"
                    aria-hidden="true"></span></div>
            <div class="text-danger text-center mt-3">
                <h4>Hearts</h4>
            </div>
            <div class="text-danger text-center mt-2">
                <h1>346</h1>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card border-warning mx-sm-1 p-3">
            <div class="card border-warning shadow text-warning p-3 my-card"><span class="fa fa-inbox"
                    aria-hidden="true"></span></div>
            <div class="text-warning text-center mt-3">
                <h4>Inbox</h4>
            </div>
            <div class="text-warning text-center mt-2">
                <h1>346</h1>
            </div>
        </div>
    </div> -->
</div>
<div *ngIf="loader" class="default-loader"></div>