<div id="page-content" class="page-content">
    <section id="cart">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="table-tst-align">S.No</th>
                                    <th class="table-tst-align">OD No.</th>
                                    <th class="table-tst-align">Date</th>
                                    <th class="table-tst-align">Shipping Method</th>
                                    <th class="table-tst-align">Status</th>
                                    <th class="table-tst-align">View</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngIf="invoivesList && invoivesList.length > 0;else noRcrds">
                                    <tr *ngFor="let invoice of invoivesList | paginate: { itemsPerPage: pagination.itemsPerPage,
                                    currentPage: pagination.currentPage,
                                    totalItems: pagination.totalItems };let i = index;">
                                        <td class="table-tst-align">{{ (pagination.itemsPerPage * (pagination.currentPage - 1) + i) + 1 }}</td>
                                        <td class="table-tst-align">
                                            {{invoice.orderNumber}}
                                        </td>
                                        <td class="table-tst-align">
                                            {{invoice.orderedDate | date}}
                                        </td>
                                        <td class="table-tst-align">
                                            {{invoice.shippingType | titlecase}}
                                        </td>
                                        <td class="table-tst-align">
                                            {{invoice.orderStatus | titlecase}}
                                        </td>
                                        <td class="table-tst-align">
                                            <button type="button" class="btn btn-default btn-sm" (click)="getOrderDetails(orderDetailModal, invoice)">
                                                Detail
                                            </button>
                                        </td>
                                    </tr>
                                </ng-container>
                                <ng-template #noRcrds>
                                    <h5 style="display: flex;justify-content: center;">No Records found.</h5>
                                </ng-template>
                            </tbody>
                        </table>
                    </div>
                    <pagination-controls *ngIf="invoivesList && invoivesList.length > 0" style="display: flex;justify-content: center;"
                      (pageChange)="pageChanged($event)"></pagination-controls>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- Modal -->
<ng-template #orderDetailModal>
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Order Number : {{selectedInvoice.orderNumber}}
        </h5>
        <button type="button" class="close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-4">
                <p>
                    <strong>Billing Details:</strong><br>
                    {{selectedInvoice.customerName | titlecase}}<br>
                    {{selectedInvoice.customerNumber}}<br>
                    {{selectedInvoice.customerAddress}}
                </p>
            </div>
            <div class="col-md-4">
                <p>
                    <strong>Store Details:</strong><br>
                    {{selectedInvoice.storeName | titlecase}}<br>
                    {{selectedInvoice.storeNumber}}<br>
                    {{selectedInvoice.storeAddress}}
                </p>
            </div>
            <div class="col-md-4">                
                <p>
                    <strong>Shipping Method:</strong><br>
                    {{selectedInvoice.shippingType | titlecase}}
                </p>
                <p>
                    <strong>Order Status:</strong><br>
                    {{selectedInvoice.orderStatus | titlecase}}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>
                    <strong>Your Order:</strong>
                </p>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Products</th>
                                <th class="text-right">Subtotal</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let order of orderDetails;let i = index;">
                                <td>
                                   {{order.productname | titlecase}} x {{order.productQuantity}}
                                </td>
                                <td class="text-right">
                                    Rs {{order.productPrice * order.productQuantity}}
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td>
                                    <strong>Cart Subtotal</strong>
                                </td>
                                <td class="text-right">
                                    Rs {{orderAmount}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Shipping</strong>
                                </td>
                                <td class="text-right">
                                    Rs {{selectedInvoice.shippingCharges && selectedInvoice.shippingCharges > 0 ? selectedInvoice.shippingCharges : 0}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>ORDER TOTAL</strong>
                                </td>
                                <td class="text-right">
                                    <strong>Rs {{selectedInvoice.shippingCharges && selectedInvoice.shippingCharges > 0 ? (orderAmount + selectedInvoice.shippingCharges) : orderAmount }}</strong>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<div *ngIf="loader" class="default-loader"></div>