.cookieConsentContainer {
    z-index: 999;
    // width: 350px;
    min-height: 20px;
    box-sizing: border-box;
    padding: 30px;
    background: #2FA504;
    overflow: hidden;
    position: fixed;
    bottom: 0px;
    /* right: 30px; */
    display: none;
}

.cookieConsentContainer .cookieTitle a {
    font-family: OpenSans,arial,"sans-serif";
    color: #fff;
    font-size: 22px;
    line-height: 20px;
    display: block;
}

.cookieConsentContainer .cookieDesc p {
    margin: 0;
    padding: 0;
    font-family: OpenSans,arial,"sans-serif";
    color: #fff;
    font-size: 13px;
    line-height: 20px;
    display: block;
    margin-top: 10px;
}

.cookieConsentContainer .cookieButton a {
    display: inline-block;
    font-family: OpenSans,arial,"sans-serif";
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    margin-top: 14px;
    background: #73c356c4;
    box-sizing: border-box;
    padding: 15px 24px;
    text-align: center;
    transition: background .3s;
}