<router-outlet></router-outlet>
<div *ngIf="isAlertVisiable" class="cookieConsentContainer" id="cookieConsentContainer" style="opacity: 1; display: block;"><div class="cookieTitle"><a>New Updates are available.</a></div><div class="cookieDesc"><p>{{dispalyText}}</p></div><div class="cookieButton"><a href="javascript:void(0);" (click)="refreshThePage();">Accept</a></div></div>