.badge {
    border-radius: 1.25rem;
}
.page-header{
    .bg-white{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 99;    
        -ms-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -webkit-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }
}
.nav-parent{
    display: flex;
    align-items: center;
    i.fa-shopping-basket{
        font-size: 1.25rem;
        color: #28a745;
    }
    span.badge{
        position: absolute;
        top: 5px;
        font-weight: 400;
        text-align: center;
        padding: 0.25em 0.4em;
        border-radius: 0.25rem;
    }
    .cart-item .dropdown-toggle::after{
        display: none;
    }
}