<div class="page-header">
    <!--=============== Navbar ===============-->
    <nav class="navbar navbar-expand-md navbar-dark" id="page-navigation">
        <div class="container">
            <!-- Navbar Brand -->
            <a href="javascript:void(0);" class="navbar-brand" [routerLink]="['/groceries/home']">
                <img src="/assets/images/logo/logo1.svg" alt="site-logo">
            </a>
            <div class="nav-parent">
                <!-- Toggle Button -->
                <div class="cart-item dropdown mr-2" *ngIf="cartProducts && cartProducts.length <= 0 && loggedUser">
                    <a href="javascript:void(0)" class="nav-link dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-shopping-basket"></i> <span class="badge badge-primary">
                            {{cartCount}}</span>
                    </a>
                </div>
                <div class="cart-item dropdown mr-2" *ngIf="cartProducts && cartProducts.length > 0 && loggedUser">
                    <a href="javascript:void(0)" class="nav-link dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-shopping-basket"></i> <span class="badge badge-primary">
                                {{cartCount}}</span>
                        </a>
                        <div class="dropdown-menu shopping-cart">
                            <ul>
                                <li>
                                    <div class="drop-title">Your Cart</div>
                                </li>
                                <li>
                                    <div class="shopping-cart-list" style="height: auto;">
                                        <div class="media" *ngFor="let item of cartProducts;let i = index;">
                                            <img class="d-flex mr-3" [src]="item.imageUrl"
                                                width="60">
                                            <div class="media-body">
                                                <h5><a href="javascript:void(0)">{{item.productName | titlecase}}</a></h5>
                                                <p class="price">
                                                    <!-- <span class="discount text-muted">Rs. {{item.productPrice}}</span> -->
                                                    <span>Rs. {{item.productOfferPrice}}</span>
                                                </p>
                                                <p class="text-muted">Qty: {{item.productQuantity}}</p>
                                            </div>
                                        </div>
                                    </div>                                    
                                </li>
                                <li>
                                    <div class="drop-title d-flex justify-content-between">
                                        <span>Total:</span>
                                        <span class="text-primary"><strong>Rs. {{cartAmount}}</strong></span>
                                    </div>
                                </li>
                                <li class="d-flex justify-content-between pl-3 pr-3 pt-3">
                                    <a href="javascript:void(0);" [routerLink]="['/groceries/viewcart']" class="btn btn-primary" style="width: 100%;">View Cart</a>
                                </li>
                            </ul>
                        </div>
                </div>
                <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
                
            <div class="collapse navbar-collapse" [ngClass]="{'show': isNavbarCollapse}">
                <!-- Navbar Menu -->
                <ul class="navbar-nav ml-auto">                    
                    <li class="nav-item" *ngIf="!loggedUser">
                        <a href="javascript:void(0);" [routerLink]="['/register']" class="nav-link">Register</a>
                    </li>
                    <li class="nav-item" *ngIf="!loggedUser">
                        <a href="javascript:void(0);" [routerLink]="['/login']" class="nav-link">Login</a>
                    </li>
                    <li class="nav-item dropdown" *ngIf="loggedUser">
                        <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            My Account
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" [routerLink]="['/groceries/profile']" href="javascript:void(0);">Profile</a>
                            <a class="dropdown-item" [routerLink]="['/groceries/orders']" href="javascript:void(0);">My Orders</a>
                            <a class="dropdown-item" href="javascript:void(0);" (click)="logout()">Logout</a>
                        </div>
                    </li>
                    <!-- <li class="nav-item">
                        <a href="javascript:void(0);" [routerLink]="['/plans']" class="nav-link" routerLinkActive="active" >Plans</a>
                    </li> -->
                </ul>
            </div>

        </div>
    </nav>
</div>