<div class="page-wrapper chiller-theme toggled">
    <a id="show-sidebar" class="btn btn-sm btn-dark" href="javascript:void(0);">
        <i class="fa fa-bars"></i>
    </a>
    <nav id="sidebar" class="sidebar-wrapper">
        <div class="sidebar-content">
            <div class="sidebar-brand">
                <a href="javascript:void(0);">RING THE BELL</a>
                <div id="close-sidebar">
                    <i class="fa fa-times"></i>
                </div>
            </div>
            <!-- sidebar-header  -->
            <div class="sidebar-item sidebar-header d-flex flex-nowrap">
                <div class="user-pic">
                    <img class="img-responsive img-rounded" [src]="storeInfo.imageUrl" alt="Store logo">
                </div>
                <div class="user-info">
                    <span class="user-name">{{storeInfo.storeName | titlecase}}
                    </span>
                    <span class="user-role">{{storeInfo.registeredDate | date}}</span>
                    <span class="user-status" *ngIf="(30 - subscriptionAlert) <= 7">
                        <span>Expr in {{30 - subscriptionAlert}} day(s)</span>
                        <span class="badge-sonar"></span>
                    </span>                    
                </div>
            </div>
            <div class="sidebar-menu">
                <ul>
                    <li *ngFor="let menu of routerMenu;let i= index;" >
                        <a href="javascript:void(0);" [routerLink]="menu.url">
                            <i class="fa" [ngClass]="menu.icon" routerLinkActive="active"></i>
                            <span>{{menu.name | uppercase}}</span>
                            <!-- <span class="badge badge-pill badge-primary">0</span> -->
                        </a>
                    </li>
                </ul>
            </div>
            <!-- sidebar-menu  -->
        </div>
        <!-- sidebar-content  -->
        <div class="sidebar-footer">
            <!-- <a href="javascript:void(0);">
                <i class="fa fa-bell"></i>
                <span class="badge badge-pill badge-warning notification">3</span>
            </a>
            <a href="javascript:void(0);">
                <i class="fa fa-envelope"></i>
                <span class="badge badge-pill badge-success notification">7</span>
            </a>
            <a href="javascript:void(0);">
                <i class="fa fa-cog"></i>
                <span class="badge-sonar"></span>
            </a> -->
            <a href="javascript:void(0);" (click)="logout()">
                <i class="fa fa-power-off"></i>
            </a>
        </div>
    </nav>
    <!-- sidebar-wrapper  -->
    <main class="page-content">
        <div class="container-fluid">
            <div class="jumbotron">
                <router-outlet></router-outlet>
            </div>
        </div>

    </main>
    <!-- page-content" -->
</div>
<div *ngIf="loader" class="default-loader"></div>