<div id="generic_price_table">   
    <section>
        <div class="container">    
            <h5 class="content-center" style="color: #F27526;">For upgrade of plans please contact to </h5>
             <span class="content-center" style="color: #2FA504;"><i class="fa fa-phone-square mt-1 mr-1 mb-2"></i>+91 9491000165&nbsp;/&nbsp;<i class="fa fa-envelope mt-1 mr-1"></i>ringthebell365@gmail.com</span>           
            <!--BLOCK ROW START-->
            <div class="row">
                <div class="col-md-4" *ngFor="let plan of plansList;let i = index;">                    
                    <!--PRICE CONTENT START-->
                    <div class="generic_content clearfix">                            
                        <!--HEAD PRICE DETAIL START-->
                        <div class="generic_head_price clearfix">                            
                            <!--HEAD CONTENT START-->
                            <div class="generic_head_content clearfix">                                
                                <!--HEAD START-->
                                <div class="head_bg" [ngStyle]="{'border-color': getColor(plan.subscriptionName)}"></div>
                                <div class="head">
                                    <span>{{plan.subscriptionName}}</span>
                                </div>
                                <!--//HEAD END-->                                    
                            </div>
                            <!--//HEAD CONTENT END-->                                
                            <!--PRICE START-->
                            <div class="generic_price_tag clearfix">    
                                <span class="price">
                                    <span class="sign">&#8377;</span>
                                    <span class="currency">{{plan.subscriptionPrice}}</span>
                                    <span class="cent">.00</span>
                                    <span class="month">/MON</span>
                                </span>
                            </div>
                            <!--//PRICE END-->                                
                        </div>                            
                        <!--//HEAD PRICE DETAIL END-->                            
                        <!--FEATURE LIST START-->
                        <div class="generic_feature_list">
                            <ul>
                                <li><span><i class="fa" [ngClass]="{'fa-times': plan.isSupportAvailable == 1, 'fa-check': plan.isSupportAvailable == 0}"></i></span> 24/7 Support</li>
                                <li><span><i class="fa" [ngClass]="{'fa-times': plan.isSmsAvailable == 1, 'fa-check': plan.isSmsAvailable == 0}"></i></span> SMS Alerts</li>
                            </ul>
                        </div>
                        <!--//FEATURE LIST END-->                            
                        <!--BUTTON START-->
                        <div *ngIf="isBtnShow" class="generic_price_btn clearfix">
                            <a class="" href="">Sign up</a>
                        </div>
                        <!--//BUTTON END-->                            
                    </div>
                    <!--//PRICE CONTENT END-->                            
                </div>
            </div>  
            <!--//BLOCK ROW END-->            
        </div>
    </section> 
</div>
<div *ngIf="loader" class="default-loader"></div>