<div id="page-content" class="page-content">
    <div class="banner">
        <div class="jumbotron jumbotron-image text-center mb-0 rounded-0" style="background: url(/assets/images/home-banner.jpg);">
           
            <div class="container">
                <h3 class="banner-title pt-5">
                    #Stay Home #Be Safe<br>
                    <span style="font-size: large;">Leave the groceries to us.</span>
                </h3>
               
  
                <div class="row store-search">
                    <div class="col-12 col-md-8 col-lg-8 col-xl-6">
                        <div class="search-row">
                        <div class="form-group">
                            <select class="form-control" [(ngModel)]="storeObj.stateId" (change)="getAllCities(storeObj.stateId)">
                              <option value="">State</option>
                              <option *ngFor="let state of statesArr;let i = index;"
                              [value]="state.stateId">{{state.stateName}}</option>
                            </select>
                          </div>
                          <div class="form-group">
                            <select class="form-control" [(ngModel)]="storeObj.cityId">
                              <option value="">City</option>
                              <option *ngFor="let city of citiesArr;let y = index;"
                              [value]="city.cityId">{{city.cityName}}</option>
                            </select>
                          </div>
                        <div class="input-group mb-3">                            
                            <input type="text" class="form-control" [(ngModel)]="storeObj.storeName" placeholder="Enter the Store Name" aria-label="Enter the Store Name" aria-describedby="basic-addon2">
                            <div class="input-group-append" (click)="getStoreInfo()">
                              <span class="input-group-text" id="basic-addon2"><i class="fa fa-search"></i></span>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section id="categories" class="pb-0 pt-3 gray-bg">
        <div class="container-fluid">
          <h2 class="title" style="margin-bottom: 1rem;">Stores</h2>
          <div class="row px-5">
              <div class="col-12 store-list mb-3" *ngIf="storesArr && storesArr.length > 0; else noRecords">
                    <div class="store-item" style="cursor: pointer;" (click)="goToStore(store, storeConfrm)" *ngFor="let store of storesArr; let i = index;">
                        <div class="store-img">
                            <img [src]="store.imageUrl" alt="store-image" class="img-responsive">
                        </div>
                        <h3 class="storelist-title">
                            {{store.storeName}}
                        </h3>
                    </div>
              </div>
              <ng-template #noRecords>
                    <div class="col-12 store-list mb-3">
                        <p style="display: flex;justify-content: center;font-size: x-large;">
                            <img src="../../../../assets/images/store-icon-1.png" alt="" style="width:40px;"> 
                            <span style="margin-top: 5px; font-size: smaller;">{{noStoreMsg | titlecase}} </span>
                        </p>
                    </div>
              </ng-template>
          </div>
        </div>
    </section> 
    <section id="why">
        <h2 class="title">Why Ring The Bell</h2>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card border-0 text-center gray-bg">
                        <div class="card-icon">
                            <div class="card-icon-i text-success">
                                <i class="fa fa-shopping-cart"></i>
                            </div>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">
                                Straight from the Store
                            </h4>
                            <p class="card-text">
                                Our concept emphasizes getting the fresh produce directly from local stores to your tables within hours, hence you know you get the freshest products.
                            </p>

                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card border-0 text-center gray-bg">
                        <div class="card-icon">
                            <div class="card-icon-i text-success">
                                <i class="fa fa-question"></i>
                            </div>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">
                                Know Your Stores
                            </h4>
                            <p class="card-text">
                                We want you to know exactly who is delivering your items by having the store's profile. You’re welcome to visit the stores and see the love they put into delivering the products.
                            </p>

                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card border-0 text-center gray-bg">
                        <div class="card-icon">
                            <div class="card-icon-i text-success">
                                <i class="fa fa-heartbeat"></i>
                            </div>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">
                                Improving Customer's Livelihood
                            </h4>
                            <p class="card-text">
                                Slowly but sure, by cutting the complex supply chain and food system, we hope to improve the welfare of customers by giving them the fresh products they deserve.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>  
</div>
<div *ngIf="loader" class="default-loader"></div>

<ng-template #storeConfrm>
    <div class="modal-header">
        <h6 class="modal-title">Are you sure...?</h6>
            <button type="button" class="close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <img src="assets/images/modal-icons/warning.png" alt="warning-emoji" style="position: relative;
            width: 15%;left: 43%;">
            <h5 class="content-center mt-2">Multilple Stores Selection is not available.!</h5>
            <p class="content-center">If yes, cart items will be removed(if selected)</p>
        </div>
    </div>
    <div class="modal-footer content-center">
        <button type="button" class="btn btn-primary" (click)="emptyCart()">Yes</button>
        <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">No</button>
    </div>
</ng-template>

<ng-template #locationModal>
    <div class="modal-header">
        <h5 class="modal-title">Access Alert</h5>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <img src="assets/images/modal-icons/warning.png" alt="warning-emoji" style="position: relative;
            width: 15%;left: 43%;">
            <h4 class="content-center mt-2">Location access is denied</h4>
            <small class="content-center">Please enable permission access, it will help us to fetch near stores</small>
        </div>
    </div>
</ng-template>