
.storelist {
	background: #fff;
    padding: 30px 40px 30px 90px;
    margin: 40px 20px 50px 80px;
    border-radius: 0 85px;
    color: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
}

.storelist .pic {
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  border: 14px solid #fff;
  position: absolute;
  top: -35px;
  left: -45px;
  overflow: hidden;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  img
  {
    display: block;
    width: 100%;
    height: auto;
  }
}

.storelist .storelist-title {
	display: inline-block;
	width: 100%;
	font-size: 20px;
	font-weight: 700;
	color: #28a745;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	padding: 10px 10px 10px 0px;
	margin: 0;
	border-right: 1px solid rgba(255, 255, 255, 0.5);
}



.storelist .description {
	display: block;
	width: 100%;
	font-size: 15px;
	color: #74788d;
	letter-spacing: 0.5px;
	margin-bottom: 0;
	padding: 0px 10px 10px 0px;
	position: relative;
}

.storelist .description:before {
	content: "\f10d";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	position: absolute;
	top: 0;
	left: 10px;
	font-size: 20px;
	color: rgba(255, 255, 255, 0.5);
}

.storelist .description:after {
	content: "\f10e";
	font-family: "FontAwesome";
	font-weight: 900;
	font-size: 20px;
	color: rgba(255, 255, 255, 0.5);
	position: absolute;
	bottom: 5px;
}
.banner{
	position: relative;
	height: 420px;
}
.jumbotron-image 
{
	padding: 0;
	height: 100%;
	background-repeat: no-repeat;
    background-size: cover;
	img{
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		overflow: hidden;
		z-index: 1;
		width: 100%;
	}
	.container{
		position: absolute;
		top:45%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}


@media only screen and (max-width: 767px) {
	.storelist {
		border-radius: 40px;
		margin: 90px 15px 0;
		padding: 50px 40px 30px 40px;
	}
	.storelist .pic {
		position: absolute;
		top: -65px;
		left: 0;
		right: 0;
		margin: 0 auto;
	}
	.storelist .storelist-title {
		width: 100%;
		float: none;
		border-right: none;
		text-align: center;
		border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	}
	.storelist .description {
		width: 100%;
	}
	.banner{
		height: 220px;
		background: #f27526;
		.jumbotron-image{
			background: none !important;
			img{
				display: none;
			}
		}
	}
	
}

@media only screen and (max-width: 480px) {
	.storelist {
		padding: 50px 30px 30px;
	}
}
.store-list{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.store-item {
    margin-right: 15px;
    background: #fff;
    display: flex;
    align-items: center;
    padding: 15px;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
	flex-wrap: wrap;
	width: 250px;
	margin-bottom: 15px;
	.store-img{
		height: 40px;
    max-width: 40px;
    margin-right: 15px;
		img{
			height: 100%;
    border-radius: 100%;
    width: 100%;
		}
	}
	.storelist-title{
		font-size: 16px;
    font-weight: 700;
    color: #28a745;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-bottom: 0;
	}
}
.banner{
	h3,h4{
		color: #fff;
	}
}
.store-search{
	display: flex;
	justify-content: center;
	.form-control{
		height: 40px;
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
		border: 0;
	}
	.input-group-append{
		.input-group-text{
			background: #fff;
    border: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
	padding-right: 20px;
	cursor: pointer;
		}
	}
}
.search-row{
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: center;
	.input-group{
		width: 50%;
	}
	.form-group{
	  width: 25%;
	  border-right: 1px solid #ddd;
	  &:first-child{
		  .form-control{

			  border-top-left-radius: 20px;
			  border-bottom-left-radius: 20px;
		  }
    }
	  .form-control{
		border-radius: 0;
		
	  }
	}
  }
@media (min-width:320px) and (max-width:767){
	.store-item{
		min-width: 300px;
	}
	.search-row{
		display: flex;
		flex-direction: column;
		display: none;
	}
}
@media (min-width:768px) and (max-width:1365){
	.banner{
		height: 300px;
		.jumbotron-image{
			background-position: 30%;
    background-size: cover;
    background-repeat: no-repeat;
		}
	}
}

.content-center {
	display: flex;
	justify-content: center;
}