<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>About</h5>
        <p>
          Shopping for grocery and everyday household products is an integral part of life. With changing time, consumers have started becoming technology savvy, resulting in the widespread use of the Internet and mobile phones. Our portal provides features such as comparative pricing, deals and coupons, home delivery options, and such others.
        </p>
      </div>
      <div class="col-md-4">
        <h5>Links</h5>
        <ul>
          <li>
            <a href="javascript:void(0)" [routerLink]="['/groceries/home']"
              >Home</a
            >
          </li>
          <li>
            <a href="javascript:void(0)" [routerLink]="['/groceries/profile']"
              >Profile</a
            >
          </li>
          <li>
            <a href="javascript:void(0)" [routerLink]="['/groceries/viewcart']"
              >Viewcart</a
            >
          </li>
          <li>
            <a href="javascript:void(0)" [routerLink]="['/groceries/orders']"
              >Orders</a
            >
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Contact</h5>
        <ul>
          <li>
            <a href="tel:+919491000165"
              ><i class="fa fa-phone mr-2"></i> +91 9491000165</a
            >
          </li>
          <li>
            <a
              href="mailto:ringthebell365@gmail.com?subject=New Suggestion from User"
              ><i class="fa fa-envelope mr-2"></i> ringthebell365@gmail.com</a
            >
          </li>
          <li>
            <a href="https://www.facebook.com/rtb365" target="_blank"
              ><i class="fab fa-facebook-square mr-2"></i> rtb365</a
            >
          </li>
        </ul>

        <!-- <h5>Follow Us</h5>
               <ul class="social">
                   <li>
                      <a href="javascript:void(0)" target="_blank"><i class="fa fa-facebook-f"></i></a>
                   </li>
                   <li>
                      <a href="javascript:void(0)" target="_blank"><i class="fa fa-instagram"></i></a>
                   </li>
                   <li>
                      <a href="javascript:void(0)" target="_blank"><i class="fa fa-youtube"></i></a>
                   </li>
               </ul> -->
      </div>
    </div>
  </div>
  <p class="copyright">
    &copy; 2020 Ring The Bell | Groceries Store | A Product from SSR Groups |
    All rights reserved.
  </p>
</footer>
