<div id="page-content" class="page-content">
    <section id="checkout">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-7">
                    <h5 class="mb-3">BILLING DETAILS</h5>
                    <!-- Bill Detail of the Page -->
                    <form [formGroup]="checkoutForm" class="bill-detail">
                        <fieldset>
                            <div class="form-group row">
                                <div class="col">
                                    <input formControlName="fullName" class="form-control" type="text"
                                    
                                    [ngClass]="{'is-invalid': (frmCtrls.fullName.dirty || frmCtrls.fullName.touched) && frmCtrls.fullName.invalid && frmCtrls.fullName.errors}"
                                    placeholder="Full Name / Username *">
                                    <div *ngIf="(frmCtrls.fullName.dirty || frmCtrls.fullName.touched) && frmCtrls.fullName.invalid && frmCtrls.fullName.errors"
                                        class="invalid-feedback">
                                        <span
                                            *ngIf="frmCtrls.fullName.errors.required">{{reqMsg}}</span>
                                        <span *ngIf="frmCtrls.fullName.errors.minlength">Minimum length
                                            is {{nameMinLength}}</span>
                                        <span *ngIf="frmCtrls.fullName.errors.maxlength">Maximum length
                                            is {{nameMaxLength}}</span>
                                    </div>
                                </div>
                                <div class="col">
                                    <input formControlName="mobileNumber" class="form-control"
                                        type="phone" 
                                        [ngClass]="{'is-invalid': (frmCtrls.mobileNumber.dirty || frmCtrls.mobileNumber.touched) && frmCtrls.mobileNumber.invalid && frmCtrls.mobileNumber.errors}"
                                        placeholder="Contact Number *">
                                    <div *ngIf="(frmCtrls.mobileNumber.dirty || frmCtrls.mobileNumber.touched) && frmCtrls.mobileNumber.invalid && frmCtrls.mobileNumber.errors"
                                        class="invalid-feedback">
                                        <span
                                            *ngIf="frmCtrls.mobileNumber.errors.required">{{reqMsg}}</span>
                                        <span *ngIf="frmCtrls.mobileNumber.errors.minlength">Minimum
                                            length is 6</span>
                                        <span *ngIf="frmCtrls.mobileNumber.errors.maxlength">Maximum
                                            length is 15</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <textarea formControlName="address" class="form-control"
                                    name="Address" id="" rows="3"
                                    placeholder="Address *"
                                    [ngClass]="{'is-invalid': (frmCtrls.address.dirty || frmCtrls.address.touched) && frmCtrls.address.invalid && frmCtrls.address.errors}"></textarea>
                                <div *ngIf="(frmCtrls.address.dirty || frmCtrls.address.touched) && frmCtrls.address.invalid && frmCtrls.address.errors"
                                    class="invalid-feedback">
                                    <span *ngIf="frmCtrls.address.errors.required">{{reqMsg}}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <input formControlName="email" class="form-control" type="email"
                                    [ngClass]="{'is-invalid': (frmCtrls.email.dirty || frmCtrls.email.touched) && frmCtrls.email.invalid && frmCtrls.email.errors}"
                                    placeholder="Email">
                                <div *ngIf="(frmCtrls.email.dirty || frmCtrls.email.touched) && frmCtrls.email.invalid && frmCtrls.email.errors"
                                    class="invalid-feedback">
                                    <span *ngIf="frmCtrls.email.errors.required">{{reqMsg}}</span>
                                    <span *ngIf="frmCtrls.email.errors.pattern">Invalid email
                                        format</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <a href="javasript:void" [routerLink]="['/groceries/home']" class="btn btn-default">Continue Shopping</a>
                            </div>
                        </fieldset>
                    </form>
                    <!-- Bill Detail of the Page end -->
                </div>
                <div class="col-xs-12 col-sm-5">
                    <div class="holder">
                        <h5 class="mb-3">YOUR ORDER</h5>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Products</th>
                                        <th class="text-right">Subtotal</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container *ngIf="cartProducts && cartProducts.length > 0;else emptyCart">
                                        <tr *ngFor="let items of cartProducts; let i = index;">
                                            <td>
                                                {{items.productName | titlecase}} x {{items.productQuantity}}
                                            </td>
                                            <td class="text-right">
                                                Rs {{items.productOfferPrice * items.productQuantity}}
                                            </td>
                                        </tr>
                                    </ng-container>
                                    <ng-template #emptyCart>
                                        <tr>
                                            <span style="color: #F27526;display: flex;justify-content: center;">
                                                    Your cart is empty.
                                            </span>
                                        </tr>
                                    </ng-template>
                                </tbody>
                                <tfoot *ngIf="cartProducts && cartProducts.length > 0">
                                    <tr>
                                        <td>
                                            <strong>Cart Subtotal</strong>
                                        </td>
                                        <td class="text-right">
                                            Rs {{cartAmount}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Shipping</strong>
                                        </td>
                                        <td class="text-right">
                                            Rs {{shipAmount}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>ORDER TOTAL</strong>
                                        </td>
                                        <td class="text-right">
                                            <strong>Rs {{cartAmount + shipAmount}}</strong>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <ng-container *ngIf="cartProducts && cartProducts.length > 0">
                            <h5 class="mb-3">SHIPPING METHODS</h5>
                            <div class="form-check-inline" *ngFor="let ship of shipOpts;let y = index;">
                                <label class="form-check-label">
                                    <input class="form-check-input" [(ngModel)]="shipType" type="radio" name="exampleRadios" id="{{y}}" (change)="updateShip()" value="{{ship.type}}">
                                    {{ship.label | titlecase}} 
                                    <small *ngIf="storeInfo && storeInfo.deliveryAvailable  && ship.type == 'delivery'">
                                        (Min. Cart Amount is {{storeInfo.minmumPurchase}})
                                    </small>
                                </label>
                            </div>
                        </ng-container>
                        <!-- <p class="text-right mt-3">
                            <input checked="" type="checkbox"> I’ve read &amp; accept the <a href="javascript:void(0);">terms &amp; conditions</a>
                        </p> -->
                    </div>                   
                    <button [disabled]="checkoutForm.invalid" class="btn btn-primary float-right" (click)="openModal(orderCnfrm)" >Place Order <i class="fa fa-check"></i></button>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>
</div>
<ng-template #orderCnfrm>
    <div class="modal-header">
        <h5 class="modal-title">Confirmation</h5>
        <button type="button" class="close" [routerLink]="['/orders']">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <img src="assets/images/modal-icons/success.png" alt="success-emoji" style="position: relative;
            width: 15%;left: 43%;">
            <h5 class="content-center mt-2">Your order has been placed.</h5>
            <small class="content-center">You will receive a call from the {{storeInfo.storeName | uppercase}} ASAP.</small>
        </div>
    </div>
</ng-template>
<div *ngIf="loader" class="default-loader"></div>