/* You can add global styles to this file, and also import other style files */
@import "./assets/sass/_partials/color";
@import "./assets/sass/_partials/global";
@import "./assets/sass/_partials/header";
@import "./assets/sass/_partials/landing";
@import "./assets/sass/_partials/shop";
@import "./assets/sass/_partials/login";
@import "./assets/sass/_partials/footer";
@import "./assets/packages/o2system-ui/scss/o2system-ui.scss";

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.carousel {
  display: block;
  width: 95%;
  margin: 0 auto;
}
.carousel-inner {
  // justify-content: center;
  align-items: center;
}
ul {
  list-style: none;
}

.carousel-control {
  opacity: 1;
  background-color: #ccc;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  top: 30%;
}
.carousel-control.left.carousel-control-prev {
  left: -2%;
}
.carousel-control.right.carousel-control-next {
  right: -2%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: none !important;
}
.gray-bg {
  background: #eee;
}

.mand {
  color: red;
}

.table-cntnt-center {
  text-align: center;
}
.invalid-feedback{
  text-align: left;
}
.navbar-dark .navbar-toggler-icon {
  background-image: url('./assets/images/bars.svg');
  width: 21px;
  height: 21px;
}

.btn-gray{
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
  
  &:hover{
    color: #fff;
  background-color: #5a6268;
  border-color: #545b62;
  }
}

.default-loader{
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url('./assets/images/default-load.gif') 
              50% 50% no-repeat rgb(253,253,253, 0.85);
}

.cart-loader{
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url('./assets/images/cart-loading.gif') 
              50% 50% no-repeat rgb(253,253,253, 0.85);

}

.table-tst-align {
  text-align: center;
}
.btn-secondary {
  background-color: #2FA504;
  border-color: #2FA504;
}
.btn-secondary:hover {
  background-color: #22670ae3;
  border-color: #22670ae3;
}
.content-center {
	display: flex;
	justify-content: center;
}
.navbar-brand{
  width: 80%;
}
@media (max-width:767px){
  .navbar-brand{
    width: auto;
  }
}

.card-login {
  background: rgba(255, 255, 255, 0.8) !important;
}
.btn-primary.disabled, .btn-primary:disabled {
  background-color: #2FA504;
  border-color: #2FA504;
}
.btn-secondary {
  background-color: #2FA504;
  border-color: #2FA504;
}
.btn-secondary:hover {
  background-color: #22670ae3;
  border-color: #22670ae3;
}
.content-center {
	display: flex;
	justify-content: center;
}
.card-login {
  background: rgba(255, 255, 255, 0.8) !important;
}
.btn-primary.disabled, .btn-primary:disabled {
  background-color: #2FA504;
  border-color: #2FA504;
}