/* General */
.overflow {
  overflow: hidden; 
}
.corner:before { right:100%; }
.corner:after { left:100%; }

/* RED - Color */
.corner-red {
  height: 23px;
  margin: 5px;
  padding: 0;
  font-size: 15px;
  color: white;
  padding: 0em ;
  position: absolute;
  top: -3px;
  right: -5px;
  transform: translateX(30%) translateY(0%) rotate(45deg);
  transform-origin: top left;
  background: red;
}
.corner-red:before, .corner-red:after {
  content: '';
  position: absolute;
  top: 0;
  margin: 0 -1px;
  width: 200%;
  height: 100%;
  background: red;
}

/* GREEN - Color */
.corner-green {
  height: 23px;
  margin: 5px;
  padding: 0;
  font-size: 15px;
  color: white;
  padding: 0em ;
  position: absolute;
  top: -3px;
  right: -5px;
  transform: translateX(30%) translateY(0%) rotate(45deg);
  transform-origin: top left;
  background: #2FA504;
}
.corner-green:before, .corner-green:after {
  content: '';
  position: absolute;
  top: 0;
  margin: 0 -1px;
  width: 200%;
  height: 100%;
  background:#2FA504;
}


.card-text {
  margin-bottom: 0rem !important;
}
.bg-primary {
  background: #fff!important;
}
.border-primary {
  border-color: #F27526!important;
}

// 
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn-wrapper .btn {
  border: 1px solid gray;
  color: gray;
  background-color: white;
  //   padding: 8px 20px;
  border-radius: 25px;
  //   font-size: 20px;
  //   font-weight: bold;
}

.upload-btn-wrapper input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

// search button
.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 25%;
  border: 1px solid #F27526;
  border-right: none;
  padding: 5px;
  height: 35px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #2FA504;
}

.searchTerm:focus{
  color: #2FA504;
}

.searchButton {
  width: 35px;
  height: 35px;
  border: 1px solid #F27526;
  background: #F27526;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

@media (max-width:767px){
  .searchTerm{
    width: 50%;
  }
}

.product-grid{font-family:Raleway,sans-serif;text-align:center;padding:0 0 72px;border:1px solid rgba(0,0,0,.1);overflow:hidden;position:relative;z-index:1}
.product-grid .product-image{position:relative;transition:all .3s ease 0s}
.product-grid .product-image a{display:block}
.product-grid .product-image img{width:auto;max-height:150px}
.product-grid .pic-1{opacity:1;transition:all .3s ease-out 0s}
.product-grid .social{padding:0;margin:0;position:absolute;bottom:20px;right:5px;z-index:1}
.product-grid .social li{margin:0 0 10px;display:block;transform:translateX(100px);transition:all .5s}
.product-grid .social li{transform:translateX(0)}
.product-grid .social li:nth-child(2){transition-delay:.15s}
.product-grid .social li:nth-child(3){transition-delay:.25s}
.product-grid .social li a{color:#F27526;background-color:#fff;line-height:45px;text-align:center;height:45px;width:45px;border-radius:50%;display:block;transition:all .3s ease 0s}
.product-grid .social li a:hover{color:#fff;background-color:#F27526;box-shadow:0 0 10px rgba(0,0,0,.5)}
.product-grid .social li a:after,.product-grid .social li a:before{content:attr(data-tip);color:#fff;background-color:#000;font-size:12px;line-height:22px;border-radius:3px;padding:0 5px;white-space:nowrap;opacity:0;transform:translateX(-50%);position:absolute;left:50%;top:-30px}
.product-grid .social li a:after{content:'';height:15px;width:15px;border-radius:0;transform:translateX(-50%) rotate(45deg);top:-22px;z-index:-1}
.product-grid .social li a:hover:after,.product-grid .social li a:hover:before{opacity:1}
.product-grid .product-discount-label,.product-grid .product-new-label{color:#fff;background-color:#ef5777;font-size:12px;text-transform:uppercase;padding:2px 7px;display:block;position:absolute;top:0px;left:0}
.product-grid .product-discount-label{background-color:#333;left:auto;right:0}
.product-grid .rating{color:#FFD200;font-size:12px;padding:12px 0 0;margin:0;list-style:none;position:relative;z-index:-1}
.product-grid .rating li.disable{color:rgba(0,0,0,.2)}
.product-grid .product-content{background-color:#fff;text-align:center;padding:12px 0;margin:0 auto;position:absolute;left:0;right:0;bottom:0px;z-index:1;transition:all .3s}
.product-grid:hover .product-content{bottom:0}
.product-grid .title{font-size:13px;font-weight:400;letter-spacing:.5px;text-transform:capitalize;margin:0 0 10px;transition:all .3s ease 0s}
.product-grid .title a{color:#828282}
// .product-grid .title a:hover,.product-grid:hover .title a{color:#ef5777}
.product-grid .price{color:#333;font-family:Montserrat,sans-serif;font-weight:700;margin-bottom:8px;text-align:center;transition:all .3s}
.product-grid .price span{color:#999;font-size:13px;font-weight:400;display:inline-block}
.product-grid .add-to-cart{color:#000;font-size:13px;font-weight:600}
@media only screen and (max-width:990px){.product-grid{margin-bottom:30px}
}
