<div class="">
    <div class="row col-md-12 m-0 mb-2" style="border-bottom: 1px solid #e8dfdf;">
        <div class="search mb-2">
            <input type="text" class="searchTerm" [(ngModel)]="prodSearch" placeholder="Product name">
            <button type="button" class="searchButton" [disabled]="!prodSearch" (click)="searchProduct()">
                <i class="fa fa-search fa-sm" tooltip="Search" placement="auto"></i>
            </button>
            <i class="fa fa-undo" tooltip="Refresh" placement="auto" style="position: relative;top: 10px;margin-left: 10px;color: #F27526;cursor: pointer;
            " (click)="getAllProducts()"></i>
        </div>
        <i class="fa fa-plus text-primary mb-2" tooltip="Add" placement="auto" style="position: relative;
            top: 10px;
            float: right;
            margin-left: -13px;"
            (click)="openModal(productModal, 'add')"></i>
        <!-- <div class="col-md-4">
        </div>
        <div class="col-md-3">
        </div>
        <div class="col-md-3">
                <input type="text" [(ngModel)]="prodSearch.productName" class="form-control mb-3">
                <button type="button"  class="btn btn-primary btn-sm"><i class="fa fa-search"></i></button>
        </div>
        <div class="col-md-2">
            <i class="fa fa-plus text-primary mb-3" tooltip="Add" placement="auto" style="position: relative;
            top: 10px;
            float: right;
            margin-right: -28px;"
            (click)="openModal(productModal, 'add')"></i>
        </div> -->
    </div>
    <div class="card-deck">
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4" *ngFor="let product of productsArr;let i = index;">
            <div class="product-grid">
                <div class="product-image">
                    <a href="javascript:void(0);">
                        <img class="pic-1" [src]="product.productImage">
                    </a>
                    <ul class="social">
                        <li><a href="javascript:void(0);" (click)="openModal(productModal, 'update', product)" data-tip="Edit"><i class="fa fa-edit"></i></a></li>
                    </ul>
                    <span class="product-new-label" [ngStyle]="{'background-color': product.productStatus == 0 ? 'green' : 'red'}">{{product.productStatus == 0 ? 'Active' : 'Inactive'}}</span>
                    <span class="product-discount-label">{{product.productOffer}}%</span>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="javascript:void(0);">{{product.productName | titlecase}}</a></h3>
                    <div class="price">Rs.{{product.productPrice}}
                        <span>({{product.productPackWeight}}&nbsp;{{product.productPackType}})</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="" *ngIf="productsArr && productsArr.length == 0">
        <h5 style="display: flex;justify-content: center;">No Records found.</h5>
    </div>
</div>
<ng-template #productModal>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{action | titlecase}}&nbsp;Product</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form [formGroup]="productForm" (ngSubmit)="uploadProduct(action)">
        <div class="modal-body">
            <div class="row col-md-12 m-0">
                <div class="col-md-6">
                    <div class="mb-2">
                        <select class="form-control" formControlName="productCategoryId"
                            [ngClass]="{'is-invalid': (frmCtrls.productCategoryId.dirty || frmCtrls.productCategoryId.touched) && frmCtrls.productCategoryId.invalid && frmCtrls.productCategoryId.errors}">
                            <option value="">Category&nbsp;*</option>
                            <option *ngFor="let category of categoriesArr" [value]="category.categoryId">
                                {{category.categoryName | titlecase}}</option>
                        </select>
                        <div *ngIf="(frmCtrls.productCategoryId.dirty || frmCtrls.productCategoryId.touched) && frmCtrls.productCategoryId.invalid && frmCtrls.productCategoryId.errors"
                            class="invalid-feedback">
                            <span *ngIf="frmCtrls.productCategoryId.errors.required">{{reqMsgErr}}</span>
                        </div>
                    </div>
                    <div class="mb-2">
                        <input type="number" formControlName="productPrice" class="form-control" placeholder="Price *"
                            [ngClass]="{'is-invalid': (frmCtrls.productPrice.dirty || frmCtrls.productPrice.touched) && frmCtrls.productPrice.invalid && frmCtrls.productPrice.errors}">
                        <div *ngIf="(frmCtrls.productPrice.dirty || frmCtrls.productPrice.touched) && frmCtrls.productPrice.invalid && frmCtrls.productPrice.errors"
                            class="invalid-feedback">
                            <span *ngIf="frmCtrls.productPrice.errors.required">{{reqMsgErr}}</span>
                            <span *ngIf="frmCtrls.productPrice.errors.min">Value should be greater than 0</span>
                        </div>
                    </div>
                    <div class="mb-2">
                        <input type="number" formControlName="productOffer" class="form-control" placeholder="Offer (%)"
                            [ngClass]="{'is-invalid': (frmCtrls.productOffer.dirty || frmCtrls.productOffer.touched) && frmCtrls.productOffer.invalid && frmCtrls.productOffer.errors}">
                        <div *ngIf="(frmCtrls.productOffer.dirty || frmCtrls.productOffer.touched) && frmCtrls.productOffer.invalid && frmCtrls.productOffer.errors"
                            class="invalid-feedback">
                            <span *ngIf="frmCtrls.productOffer.errors.min">Value should be greater than 0</span>
                        </div>
                    </div>
                    <div class="mb-2">
                        <input type="number" formControlName="productPackWeight" class="form-control"
                            placeholder="Pack Weight *"
                            [ngClass]="{'is-invalid': (frmCtrls.productPackWeight.dirty || frmCtrls.productPackWeight.touched) && frmCtrls.productPackWeight.invalid && frmCtrls.productPackWeight.errors}">
                        <div *ngIf="(frmCtrls.productPackWeight.dirty || frmCtrls.productPackWeight.touched) && frmCtrls.productPackWeight.invalid && frmCtrls.productPackWeight.errors"
                            class="invalid-feedback">
                            <span *ngIf="frmCtrls.productPackWeight.errors.required">{{reqMsgErr}}</span>
                            <span *ngIf="frmCtrls.productPackWeight.errors.min">Value should be greater than 0</span>
                        </div>
                    </div>
                    <div class="mb-2">
                        <select class="form-control" formControlName="productPackType"
                            [ngClass]="{'is-invalid': (frmCtrls.productPackType.dirty || frmCtrls.productPackType.touched) && frmCtrls.productPackType.invalid && frmCtrls.productPackType.errors}">
                            <option [value]="null">Type of weight&nbsp;*</option>
                            <option *ngFor="let type of prodTypes;" [value]="type.name">
                                {{type.label | titlecase}}</option>
                        </select>
                        <div *ngIf="(frmCtrls.productPackType.dirty || frmCtrls.productPackType.touched) && frmCtrls.productPackType.invalid && frmCtrls.productPackType.errors"
                            class="invalid-feedback">
                            <span *ngIf="frmCtrls.productPackType.errors.required">{{reqMsgErr}}</span>
                        </div>
                    </div>
                    <div class="mb-2">
                        <input type="number" formControlName="productPackStock" class="form-control"
                            placeholder="Stock Weight * (packs)"
                            [ngClass]="{'is-invalid': (frmCtrls.productPackStock.dirty || frmCtrls.productPackStock.touched) && frmCtrls.productPackStock.invalid && frmCtrls.productPackStock.errors}">
                        <div *ngIf="(frmCtrls.productPackStock.dirty || frmCtrls.productPackStock.touched) && frmCtrls.productPackStock.invalid && frmCtrls.productPackStock.errors"
                            class="invalid-feedback">
                            <span *ngIf="frmCtrls.productPackStock.errors.required">{{reqMsgErr}}</span>
                            <span *ngIf="frmCtrls.productPackStock.errors.min">Value should be greater than 0</span>
                        </div>
                    </div>
                    <div class="mb-2">
                        <select class="form-control" formControlName="productStatus"
                            [ngClass]="{'is-invalid': (frmCtrls.productStatus.dirty || frmCtrls.productStatus.touched) && frmCtrls.productStatus.invalid && frmCtrls.productStatus.errors}">
                            <option value="">Status&nbsp;*</option>
                            <option *ngFor="let status of statusArr" [value]="status.id">
                                {{status.label | titlecase}}</option>
                        </select>
                        <div *ngIf="(frmCtrls.productStatus.dirty || frmCtrls.productStatus.touched) && frmCtrls.productStatus.invalid && frmCtrls.productStatus.errors"
                            class="invalid-feedback">
                            <span *ngIf="frmCtrls.productStatus.errors.required">{{reqMsgErr}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-2">
                        <input type="text" formControlName="productName" class="form-control" placeholder="Name *"
                            [ngClass]="{'is-invalid': (frmCtrls.productName.dirty || frmCtrls.productName.touched) && frmCtrls.productName.invalid && frmCtrls.productName.errors}">
                        <div *ngIf="(frmCtrls.productName.dirty || frmCtrls.productName.touched) && frmCtrls.productName.invalid && frmCtrls.productName.errors"
                            class="invalid-feedback">
                            <span *ngIf="frmCtrls.productName.errors.required">Product name is required</span>
                            <span *ngIf="frmCtrls.productName.errors.pattern">Only Alphabates</span>
                            <span *ngIf="frmCtrls.productName.errors.minlength">Min length is {{nameMinLength}}</span>
                            <span *ngIf="frmCtrls.productName.errors.maxlength">Max length is
                                {{nameMaxLength}}</span>
                        </div>
                    </div>
                    <img class="" id="product-img" [src]="imageUrl" alt="default-image"
                        style="width: 180px;height: 180px;"
                        [ngStyle]="{'border': fileErr ? '1px dashed red' : '1px dashed black'}">
                    <small class="mand" *ngIf="fileErr">{{fileErr}}</small>
                    <div class="upload-btn-wrapper mt-2" style="display: flex;justify-content: center;">
                        <button class="btn" style="cursor: pointer;">Upload *</button>
                        <input type="file" accept="image/x-png,image/jpeg,image/jpg" (change)="fileUpload($event)" name="myfile" />
                    </div>
                </div>
            </div>
            <small class="mand" style="display: flex;justify-content: center;"
                *ngIf="fldComboErr">{{fldComboErr}}</small>
        </div>
        <div class="modal-footer" style="text-align:center;">
            <button type="submit" class="btn btn-primary" style="margin:auto;display:block;width: 100%;"
                [disabled]="productForm.invalid">{{action | titlecase}}</button>
        </div>
    </form>

</ng-template>
<div *ngIf="loader" class="default-loader"></div>