.register-btn{
    display: flex;
    justify-content: center;
    button{
        width: auto;
    }
}
.store-logo-upload{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .store-logo-preview{
        max-height: 250px;
        width: 220px;
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
        padding: 10px;
        border: 1px dotted #495057;
        img{
            width: 100%;
            height: 100%;
            display: block;
        }
    }
    .upload-btn-wrapper {
        position: relative;
        overflow: hidden;
        display: inline-block;
        margin-top: 10px;
      }
      
        //   .btn {
        //     border: 2px solid gray;
        //     color: gray;
        //     background-color: white;
        //     padding: 8px 20px;
        //     border-radius: 8px;
        //     font-size: 20px;
        //     font-weight: bold;
        //   }
      
      .upload-btn-wrapper input[type=file] {
        font-size: 100px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
      }
}
.checkbox{
    display: flex;
    align-items: center;
    // margin-right: 15px;
input[type=checkbox]{
    // transform: scale(1.5);
    margin-right: 10px;
    overflow: hidden;
    clear: both;
    margin-left: 5px;
}
label{
    font-weight: 600;
}
}
.delivery-inputs{
    display: flex;
    align-items: flex-start;
}
.delivery-input{
    display: flex;
    flex-direction: column;
   
}

.card-header {
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(43,59,93,0.12);
    border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.pwd-frm {
    display: inline-block;
}