<div id="accordion">
    <div class="card mb-2">
        <div class="card-header" (click)="openAccord('store')">
            Store Details
            <i class="fa mr-2" [ngClass]="{'fa-plus': storeAccordioin, 'fa-minus': !storeAccordioin}" style="float: right; color: #F27526;"></i>
        </div>
        <div class="card-body p-3" [collapse]="storeAccordioin">
            <form [formGroup]="storeForm" (ngSubmit)="onStoreSubmit()">
                <div class="row">
                    <div class="col-12 col-md-8 col-lg-8">
                        <div class="form-group row">
                            <div class="col-md-6 mb-3">
                                <input formControlName="storeName" class="form-control" type="text"
                                    (focusout)="checkRecord('storeName', 'store')"
                                    [ngClass]="{'is-invalid': (storeFrmCtrls.storeName.dirty || storeFrmCtrls.storeName.touched) && storeFrmCtrls.storeName.invalid && storeFrmCtrls.storeName.errors}"
                                    placeholder="Store Name *"
                                    [ngClass]="{'is-invalid': (storeFrmCtrls.storeName.dirty || storeFrmCtrls.storeName.touched) && storeFrmCtrls.storeName.invalid && storeFrmCtrls.storeName.errors}">
                                <div *ngIf="(storeFrmCtrls.storeName.dirty || storeFrmCtrls.storeName.touched) && storeFrmCtrls.storeName.invalid && storeFrmCtrls.storeName.errors"
                                    class="invalid-feedback">
                                    <span
                                        *ngIf="storeFrmCtrls.storeName.errors.required">{{reqMsg}}</span>
                                    <span *ngIf="storeFrmCtrls.storeName.errors.minlength">Minmum length
                                        is
                                        {{nameMinLength}}</span>
                                    <span *ngIf="storeFrmCtrls.storeName.errors.maxlength">Maximum length
                                        is
                                        {{nameMaxLength}}</span>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <input formControlName="mobileNumber" class="form-control"
                                    type="phone" (focusout)="checkRecord('number', 'store')"
                                    [ngClass]="{'is-invalid': (storeFrmCtrls.mobileNumber.dirty || storeFrmCtrls.mobileNumber.touched) && storeFrmCtrls.mobileNumber.invalid && storeFrmCtrls.mobileNumber.errors}"
                                    placeholder="Store Contact Number *">
                                <div *ngIf="(storeFrmCtrls.mobileNumber.dirty || storeFrmCtrls.mobileNumber.touched) && storeFrmCtrls.mobileNumber.invalid && storeFrmCtrls.mobileNumber.errors"
                                    class="invalid-feedback">
                                    <span
                                        *ngIf="storeFrmCtrls.mobileNumber.errors.required">{{reqMsg}}</span>
                                    <span *ngIf="storeFrmCtrls.mobileNumber.errors.minlength">Minimum
                                        length is 6</span>
                                    <span *ngIf="storeFrmCtrls.mobileNumber.errors.maxlength">Maximum
                                        length is 15</span>
                                    <span *ngIf="storeFrmCtrls.mobileNumber.errors.pattern">Invalid Mobile Format</span>
                                </div>
                            </div>
                            <div class="col-md-12 mb-3">
                                <textarea formControlName="address" class="form-control"
                                    name="Store Address" id="" rows="3"
                                    placeholder="Store Address *"
                                    [ngClass]="{'is-invalid': (storeFrmCtrls.address.dirty || storeFrmCtrls.address.touched) && storeFrmCtrls.address.invalid && storeFrmCtrls.address.errors}"></textarea>
                                <div *ngIf="(storeFrmCtrls.address.dirty || storeFrmCtrls.address.touched) && storeFrmCtrls.address.invalid && storeFrmCtrls.address.errors"
                                    class="invalid-feedback">
                                    <span *ngIf="storeFrmCtrls.address.errors.required">{{reqMsg}}</span>
                                </div>
                            </div>                            
                            <div class="col-md-6 mb-3">
                                <input formControlName="email" class="form-control" type="email"
                                    [ngClass]="{'is-invalid': (storeFrmCtrls.email.dirty || storeFrmCtrls.email.touched) && storeFrmCtrls.email.invalid && storeFrmCtrls.email.errors}"
                                    placeholder="Store Email" (focusout)="checkRecord('email', 'store')">
                                <div *ngIf="(storeFrmCtrls.email.dirty || storeFrmCtrls.email.touched) && storeFrmCtrls.email.invalid && storeFrmCtrls.email.errors"
                                    class="invalid-feedback">
                                    <span *ngIf="storeFrmCtrls.email.errors.required">{{reqMsg}}</span>
                                    <span *ngIf="storeFrmCtrls.email.errors.pattern">Invalid email
                                        format</span>
                                </div>
                            </div>
                            <div class="col-md-6 delivery-inputs">
                                <div class="checkbox mb-3">
                                    <input id="checkbox0" type="checkbox" name="terms"
                                        formControlName="delivery" (change)="getDeliveryInfo()">
                                    <label for="checkbox0" class="mb-0">Is Delivery Avaliable ?
                                    </label>
                                </div>
                                <div class="delivery-input" *ngIf="isDeliveryInfoActive">
                                    <div class="mb-3">
                                        <input class="form-control" type="number"
                                            placeholder="Min Delivery Amount"
                                            formControlName="amount"
                                            [ngClass]="{'is-invalid': (storeFrmCtrls.amount.dirty || storeFrmCtrls.amount.touched) && storeFrmCtrls.amount.invalid && storeFrmCtrls.amount.errors}">
                                        <div *ngIf="(storeFrmCtrls.amount.dirty || storeFrmCtrls.amount.touched) && storeFrmCtrls.amount.invalid && storeFrmCtrls.amount.errors"
                                            class="invalid-feedback">
                                            <span
                                                *ngIf="storeFrmCtrls.amount.errors.required">{{reqMsg}}</span>
                                            <span *ngIf="storeFrmCtrls.amount.errors.min">Minimum
                                                value is 0</span>
                                        </div>
                                    </div>
            
                                    <input class="form-control" type="number"
                                        placeholder="Delivery Charges" formControlName="charges"
                                        [ngClass]="{'is-invalid': (storeFrmCtrls.charges.dirty || storeFrmCtrls.charges.touched) && storeFrmCtrls.charges.invalid && storeFrmCtrls.charges.errors}">
                                    <div *ngIf="(storeFrmCtrls.charges.dirty || storeFrmCtrls.charges.touched) && storeFrmCtrls.charges.invalid && storeFrmCtrls.charges.errors"
                                        class="invalid-feedback">
                                        <span
                                            *ngIf="storeFrmCtrls.charges.errors.required">{{reqMsg}}</span>
                                        <span *ngIf="storeFrmCtrls.charges.errors.min">Minimum
                                            value is 0</span>
                                    </div>
                                </div>
            
                            </div>
                        </div>
            
                    </div>
                    <div class="col-12 col-md-4 col-lg-4 store-logo-upload">
                        <div class="store-logo-preview">
                            <img [src]="imgBase64" alt="store-logo"> 
                        </div>
                        <span style="font-size: 80%;
                        color: #dc3545;" *ngIf="fileErr">{{fileErr}}</span>
                        <div class="upload-btn-wrapper" style="cursor: pointer;">
                            <button class="btn btn-primary">Upload a file</button>
                            <input type="file" accept="image/x-png,image/jpeg,image/jpg" (change)="fileUpload($event)" name="storeFile" />
                        </div>
                    </div>
                </div>
                <div class="form-group row text-center mt-2">
                    <div class="col-md-12 register-btn">
                        <button type="submit" [disabled]="storeForm.invalid"
                            class="btn btn-primary btn-block text-uppercase mr-2">Update</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="card mb-2">
        <div class="card-header" (click)="openAccord('pwd')">
            Change Password
            <i class="fa mr-2" [ngClass]="{'fa-plus': pwdAccordioin, 'fa-minus': !pwdAccordioin}" style="float: right; color: #F27526;"></i>
        </div>
        <div class="card-body p-3" [collapse]="pwdAccordioin">
            <form [formGroup]="accForm" class="row" style="justify-content: center;" (ngSubmit)="onPwdSubmit()">
                <div class="text-center mt-2">
                    <div class="mb-3">
                        <input formControlName="oldPassword" class="form-control" type="password"
                            [ngClass]="{'is-invalid': (accFrmCtrls.oldPassword.dirty || accFrmCtrls.oldPassword.touched) && accFrmCtrls.oldPassword.invalid && accFrmCtrls.oldPassword.errors}"
                            placeholder="Old Password *">
                            <div *ngIf="(accFrmCtrls.confirmPassword.dirty || accFrmCtrls.confirmPassword.touched) && accFrmCtrls.confirmPassword.invalid && accFrmCtrls.confirmPassword.errors"
                            class="invalid-feedback">
                            <span
                                *ngIf="accFrmCtrls.confirmPassword.errors.required">{{reqMsg}}</span>
                            <span *ngIf="accFrmCtrls.confirmPassword.errors.minlength">Minimum
                                length
                                is {{pwdMinLength}}</span>
                            <span *ngIf="accFrmCtrls.confirmPassword.errors.maxlength">Maximum
                                length
                                is {{pwdMaxLength}}</span>
                    </div>
                    </div>
                    <div class="mb-3">
                        <input formControlName="newPassword" class="form-control"
                            type="password"
                            [ngClass]="{'is-invalid': (accFrmCtrls.newPassword.dirty || accFrmCtrls.newPassword.touched) && accFrmCtrls.newPassword.invalid && accFrmCtrls.newPassword.errors}"
                            placeholder="New Password *">
                        <div *ngIf="(accFrmCtrls.newPassword.dirty || accFrmCtrls.newPassword.touched) && accFrmCtrls.newPassword.invalid && accFrmCtrls.newPassword.errors"
                            class="invalid-feedback">
                            <span
                                *ngIf="accFrmCtrls.newPassword.errors.required">{{reqMsg}}</span>
                            <span *ngIf="accFrmCtrls.newPassword.errors.minlength">Minimum length
                                is {{pwdMinLength}}</span>
                            <span *ngIf="accFrmCtrls.newPassword.errors.maxlength">Maximum length
                                is {{pwdMaxLength}}</span>
                        </div>
                    </div>
                    <div class="mb-3">
                        <input formControlName="confirmPassword" class="form-control"
                            type="password"
                            [ngClass]="{'is-invalid': (accFrmCtrls.confirmPassword.dirty || accFrmCtrls.confirmPassword.touched) && accFrmCtrls.confirmPassword.invalid && accFrmCtrls.confirmPassword.errors}"
                            placeholder="Confirm Password *">
                        <div *ngIf="(accFrmCtrls.confirmPassword.dirty || accFrmCtrls.confirmPassword.touched) && accFrmCtrls.confirmPassword.invalid && accFrmCtrls.confirmPassword.errors"
                            class="invalid-feedback">
                            <span
                                *ngIf="accFrmCtrls.confirmPassword.errors.required">{{reqMsg}}</span>
                            <span *ngIf="accFrmCtrls.confirmPassword.errors.minlength">Minimum
                                length
                                is {{pwdMinLength}}</span>
                            <span *ngIf="accFrmCtrls.confirmPassword.errors.maxlength">Maximum
                                length
                                is {{pwdMaxLength}}</span>
                        </div>
                        <span *ngIf="pwdErr" class="mand" style="margin-top: .25rem;
                        font-size: 80%;
                        color: #dc3545;">{{pwdErr}}</span>
                    </div>
                    <button type="submit" [disabled]="accForm.invalid"
                        class="btn btn-primary btn-block text-uppercase mr-2">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div *ngIf="loader" class="default-loader"></div>