<div id="page-content" class="page-content" style="background-image: url('./assets/images/bg.jpg');">
    <div class="">
        <div class="jumbotron-bg text-center rounded-0">
            <div class="container">
                <!-- <h2 class="pt-3">
                    Go to Home Page
                </h2> -->
                <div class="row store-registration">
                    <div class="col-12">
                        <div class="card card-login">
                            <div class="card-header">
                                <ul>
                                    <li (click)="changeMenu(menu)" *ngFor="let menu of menuArr" [ngClass]="{'active': menu.class}">{{menu.name}}</li>
                                </ul>
                            </div>
                            <div *ngIf="isStore" class="card-body">
                                <form [formGroup]="storeRegForm" (ngSubmit)="onStoreSubmit(subscriptionModal, locationModal)"
                                    class="form-horizontal">
                                    <div class="row">
                                        <div class="col-12 col-md-9 col-lg-9">
                                            <div class="form-group row">
                                                <div class="col-md-6 mb-3">
                                                    <input formControlName="storeName" class="form-control" type="text"
                                                        (focusout)="checkRecord('storeName', 'store')"
                                                        [ngClass]="{'is-invalid': (storeFrmCtrls.storeName.dirty || storeFrmCtrls.storeName.touched) && storeFrmCtrls.storeName.invalid && storeFrmCtrls.storeName.errors}"
                                                        placeholder="Store Name *"
                                                        [ngClass]="{'is-invalid': (storeFrmCtrls.storeName.dirty || storeFrmCtrls.storeName.touched) && storeFrmCtrls.storeName.invalid && storeFrmCtrls.storeName.errors}">
                                                    <div *ngIf="(storeFrmCtrls.storeName.dirty || storeFrmCtrls.storeName.touched) && storeFrmCtrls.storeName.invalid && storeFrmCtrls.storeName.errors"
                                                        class="invalid-feedback">
                                                        <span
                                                            *ngIf="storeFrmCtrls.storeName.errors.required">{{reqMsg}}</span>
                                                        <span *ngIf="storeFrmCtrls.storeName.errors.minlength">Minmum length
                                                            is
                                                            {{nameMinLength}}</span>
                                                        <span *ngIf="storeFrmCtrls.storeName.errors.maxlength">Maximum length
                                                            is
                                                            {{nameMaxLength}}</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 mb-3">
                                                    <input formControlName="email" class="form-control" type="email"
                                                        [ngClass]="{'is-invalid': (storeFrmCtrls.email.dirty || storeFrmCtrls.email.touched) && storeFrmCtrls.email.invalid && storeFrmCtrls.email.errors}"
                                                        placeholder="Store Email" (focusout)="checkRecord('email', 'store')">
                                                    <div *ngIf="(storeFrmCtrls.email.dirty || storeFrmCtrls.email.touched) && storeFrmCtrls.email.invalid && storeFrmCtrls.email.errors"
                                                        class="invalid-feedback">
                                                        <span *ngIf="storeFrmCtrls.email.errors.required">{{reqMsg}}</span>
                                                        <span *ngIf="storeFrmCtrls.email.errors.pattern">Invalid email
                                                            format</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 mb-3">
                                                    <input formControlName="mobileNumber" class="form-control"
                                                        type="phone" (focusout)="checkRecord('number', 'store')"
                                                        [ngClass]="{'is-invalid': (storeFrmCtrls.mobileNumber.dirty || storeFrmCtrls.mobileNumber.touched) && storeFrmCtrls.mobileNumber.invalid && storeFrmCtrls.mobileNumber.errors}"
                                                        placeholder="Store Contact Number *">
                                                    <div *ngIf="(storeFrmCtrls.mobileNumber.dirty || storeFrmCtrls.mobileNumber.touched) && storeFrmCtrls.mobileNumber.invalid && storeFrmCtrls.mobileNumber.errors"
                                                        class="invalid-feedback">
                                                        <span
                                                            *ngIf="storeFrmCtrls.mobileNumber.errors.required">{{reqMsg}}</span>
                                                        <span *ngIf="storeFrmCtrls.mobileNumber.errors.minlength">Minimum
                                                            length is 6</span>
                                                        <span *ngIf="storeFrmCtrls.mobileNumber.errors.maxlength">Maximum
                                                            length is 15</span>
                                                        <span
                                                        *ngIf="storeFrmCtrls.mobileNumber.errors.pattern">Invalid Mobile Format</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 mb-3">
                                                    <input formControlName="fullName" class="form-control" type="text"
                                                        (focusout)="checkRecord('name', 'store')"
                                                        [ngClass]="{'is-invalid': (storeFrmCtrls.fullName.dirty || storeFrmCtrls.fullName.touched) && storeFrmCtrls.fullName.invalid && storeFrmCtrls.fullName.errors}"
                                                        placeholder="Username *">
                                                    <div *ngIf="(storeFrmCtrls.fullName.dirty || storeFrmCtrls.fullName.touched) && storeFrmCtrls.fullName.invalid && storeFrmCtrls.fullName.errors"
                                                        class="invalid-feedback">
                                                        <span
                                                            *ngIf="storeFrmCtrls.fullName.errors.required">{{reqMsg}}</span>
                                                        <span *ngIf="storeFrmCtrls.fullName.errors.minlength">Minimum length
                                                            is {{nameMinLength}}</span>
                                                        <span *ngIf="storeFrmCtrls.fullName.errors.maxlength">Maximum length
                                                            is {{nameMaxLength}}</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 mb-3">
                                                    <textarea formControlName="address" class="form-control"
                                                        name="Store Address" id="" rows="3"
                                                        placeholder="Store Address *"
                                                        [ngClass]="{'is-invalid': (storeFrmCtrls.address.dirty || storeFrmCtrls.address.touched) && storeFrmCtrls.address.invalid && storeFrmCtrls.address.errors}"></textarea>
                                                    <div *ngIf="(storeFrmCtrls.address.dirty || storeFrmCtrls.address.touched) && storeFrmCtrls.address.invalid && storeFrmCtrls.address.errors"
                                                        class="invalid-feedback">
                                                        <span *ngIf="storeFrmCtrls.address.errors.required">{{reqMsg}}</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 mb-3">
                                                    <select formControlName="state" name="state" class="form-control"
                                                        id="state" (change)="getAllCities(storeFrmCtrls.state.value)"
                                                        [ngClass]="{'is-invalid': (storeFrmCtrls.state.dirty || storeFrmCtrls.state.touched) && storeFrmCtrls.state.invalid && storeFrmCtrls.state.errors}">
                                                        <option value="">State&nbsp;*</option>
                                                        <option *ngFor="let state of statesList"
                                                            [value]="state.stateId">{{state.stateName}}</option>
                                                    </select>
                                                    <div *ngIf="(storeFrmCtrls.state.dirty || storeFrmCtrls.state.touched) && storeFrmCtrls.state.invalid && storeFrmCtrls.state.errors"
                                                        class="invalid-feedback">
                                                        <span *ngIf="storeFrmCtrls.state.errors.required">{{reqMsg}}</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 mb-3">
                                                    <select formControlName="city" name="city" class="form-control"
                                                        id="city"
                                                        [ngClass]="{'is-invalid': (storeFrmCtrls.city.dirty || storeFrmCtrls.city.touched) && storeFrmCtrls.city.invalid && storeFrmCtrls.city.errors}">
                                                        <option value="">City&nbsp;*</option>
                                                        <option *ngFor="let city of citiesList" [value]="city.cityId">
                                                            {{city.cityName}}</option>
                                                    </select>
                                                    <div *ngIf="(storeFrmCtrls.city.dirty || storeFrmCtrls.city.touched) && storeFrmCtrls.city.invalid && storeFrmCtrls.city.errors"
                                                        class="invalid-feedback">
                                                        <span *ngIf="storeFrmCtrls.city.errors.required">{{reqMsg}}</span>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 mb-3">
                                                    <input formControlName="password" class="form-control"
                                                        type="password"
                                                        [ngClass]="{'is-invalid': (storeFrmCtrls.password.dirty || storeFrmCtrls.password.touched) && storeFrmCtrls.password.invalid && storeFrmCtrls.password.errors}"
                                                        placeholder="Password *">
                                                    <div *ngIf="(storeFrmCtrls.password.dirty || storeFrmCtrls.password.touched) && storeFrmCtrls.password.invalid && storeFrmCtrls.password.errors"
                                                        class="invalid-feedback">
                                                        <span
                                                            *ngIf="storeFrmCtrls.password.errors.required">{{reqMsg}}</span>
                                                        <span *ngIf="storeFrmCtrls.password.errors.minlength">Minimum length
                                                            is {{pwdMinLength}}</span>
                                                        <span *ngIf="storeFrmCtrls.password.errors.maxlength">Maximum length
                                                            is {{pwdMaxLength}}</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 mb-3">
                                                    <input formControlName="confirmPassword" class="form-control"
                                                        type="password"
                                                        [ngClass]="{'is-invalid': (storeFrmCtrls.confirmPassword.dirty || storeFrmCtrls.confirmPassword.touched) && storeFrmCtrls.confirmPassword.invalid && storeFrmCtrls.confirmPassword.errors}"
                                                        placeholder="Confirm Password *">
                                                    <div *ngIf="(storeFrmCtrls.confirmPassword.dirty || storeFrmCtrls.confirmPassword.touched) && storeFrmCtrls.confirmPassword.invalid && storeFrmCtrls.confirmPassword.errors"
                                                        class="invalid-feedback">
                                                        <span
                                                            *ngIf="storeFrmCtrls.confirmPassword.errors.required">{{reqMsg}}</span>
                                                        <span *ngIf="storeFrmCtrls.confirmPassword.errors.minlength">Minimum
                                                            length
                                                            is {{pwdMinLength}}</span>
                                                        <span *ngIf="storeFrmCtrls.confirmPassword.errors.maxlength">Maximum
                                                            length
                                                            is {{pwdMaxLength}}</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 delivery-inputs">
                                                    <div class="checkbox mb-3">
                                                        <input id="checkbox0" type="checkbox" name="terms"
                                                            formControlName="delivery" (change)="getDeliveryInfo()">
                                                        <label style="color: #35383c;" for="checkbox0" class="mb-0">Is Delivery Avaliable ?
                                                        </label>
                                                    </div>
                                                    <div class="delivery-input" *ngIf="isDeliveryInfoActive">
                                                        <div class="mb-3">
                                                            <input class="form-control" type="number"
                                                                placeholder="Min Delivery Amount"
                                                                formControlName="amount"
                                                                [ngClass]="{'is-invalid': (storeFrmCtrls.amount.dirty || storeFrmCtrls.amount.touched) && storeFrmCtrls.amount.invalid && storeFrmCtrls.amount.errors}">
                                                            <div *ngIf="(storeFrmCtrls.amount.dirty || storeFrmCtrls.amount.touched) && storeFrmCtrls.amount.invalid && storeFrmCtrls.amount.errors"
                                                                class="invalid-feedback">
                                                                <span
                                                                    *ngIf="storeFrmCtrls.amount.errors.required">{{reqMsg}}</span>
                                                                <span *ngIf="storeFrmCtrls.amount.errors.min">Minimum
                                                                    value is 0</span>
                                                            </div>
                                                        </div>

                                                        <input class="form-control" type="number"
                                                            placeholder="Delivery Charges" formControlName="charges"
                                                            [ngClass]="{'is-invalid': (storeFrmCtrls.charges.dirty || storeFrmCtrls.charges.touched) && storeFrmCtrls.charges.invalid && storeFrmCtrls.charges.errors}">
                                                        <div *ngIf="(storeFrmCtrls.charges.dirty || storeFrmCtrls.charges.touched) && storeFrmCtrls.charges.invalid && storeFrmCtrls.charges.errors"
                                                            class="invalid-feedback">
                                                            <span
                                                                *ngIf="storeFrmCtrls.charges.errors.required">{{reqMsg}}</span>
                                                            <span *ngIf="storeFrmCtrls.charges.errors.min">Minimum
                                                                value is 0</span>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-12 col-md-3 col-lg-3 store-logo-upload">
                                            <div class="store-logo-preview">
                                                <img [src]="imgBase64" alt="store-logo"> 
                                            </div>
                                            <span style="color: #cb0216;" *ngIf="fileErr">{{fileErr}}</span>
                                            <div class="upload-btn-wrapper" style="cursor: pointer;">
                                                <button class="btn btn-primary">Upload a file</button>
                                                <input type="file" accept="image/x-png,image/jpeg,image/jpg" (change)="fileUpload($event)" name="storeFile" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <span style="color: #cb0216;" *ngIf="storePwdErr">{{storePwdErr}}</span>
                                            <!-- <div class="checkbox">
                                                <input id="checkbox0" type="checkbox" name="terms">
                                                <label for="checkbox0" class="mb-0">I Agree with <a href="terms.html"
                                                        class="text-light">Terms & Conditions</a> </label>
                                            </div> -->
                                        </div>
                                    </div>
                                    <div class="form-group row text-center mt-4">
                                        <div class="col-md-12 register-btn">
                                                <span class="mt-1 mr-3" style="color: #f27526;">Click here to <a href="javascript:void(0);" class="" [routerLink]="['/login']" style="color: #2FA504;font-weight: 600;">Login</a></span>
                                            <button type="submit" [disabled]="storeRegForm.invalid"
                                                class="btn btn-primary btn-block text-uppercase mr-2">Register</button>
                                                <!-- <span class="mt-1 ml-2" style="color: #f27526;">Back to <a href="javascript:void(0);" class="" [routerLink]="['/groceries/home']" style="color: #2FA504;font-weight: 600;">Home</a></span> -->
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div *ngIf="!isStore" class="card-body">
                                <form [formGroup]="customerRegForm" (ngSubmit)="onCustomerSubmit(locationModal)"
                                    class="form-horizontal">
                                    <div class="row justify-content-center">
                                        <div class="col-12 col-md-9 col-lg-9">
                                            <div class="form-group row">
                                                <div class="col-md-6 mb-3">
                                                    <input formControlName="fullName" class="form-control" type="text"
                                                        (focusout)="checkRecord('name', 'customer')"
                                                        [ngClass]="{'is-invalid': (customerFrmCtrls.fullName.dirty || customerFrmCtrls.fullName.touched) && customerFrmCtrls.fullName.invalid && customerFrmCtrls.fullName.errors}"
                                                        placeholder="Full Name / Username *">
                                                    <div *ngIf="(customerFrmCtrls.fullName.dirty || customerFrmCtrls.fullName.touched) && customerFrmCtrls.fullName.invalid && customerFrmCtrls.fullName.errors"
                                                        class="invalid-feedback">
                                                        <span
                                                            *ngIf="customerFrmCtrls.fullName.errors.required">{{reqMsg}}</span>
                                                        <span *ngIf="customerFrmCtrls.fullName.errors.minlength">Minimum length
                                                            is {{nameMinLength}}</span>
                                                        <span *ngIf="customerFrmCtrls.fullName.errors.maxlength">Maximum length
                                                            is {{nameMaxLength}}</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 mb-3">
                                                    <input formControlName="email" class="form-control" type="email"
                                                        [ngClass]="{'is-invalid': (customerFrmCtrls.email.dirty || customerFrmCtrls.email.touched) && customerFrmCtrls.email.invalid && customerFrmCtrls.email.errors}"
                                                        placeholder="Email" (focusout)="checkRecord('email', 'customer')">
                                                    <div *ngIf="(customerFrmCtrls.email.dirty || customerFrmCtrls.email.touched) && customerFrmCtrls.email.invalid && customerFrmCtrls.email.errors"
                                                        class="invalid-feedback">
                                                        <span *ngIf="customerFrmCtrls.email.errors.required">{{reqMsg}}</span>
                                                        <span *ngIf="customerFrmCtrls.email.errors.pattern">Invalid email
                                                            format</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 mb-3">
                                                    <input formControlName="mobileNumber" class="form-control"
                                                        type="phone" (focusout)="checkRecord('number', 'customer')"
                                                        [ngClass]="{'is-invalid': (customerFrmCtrls.mobileNumber.dirty || customerFrmCtrls.mobileNumber.touched) && customerFrmCtrls.mobileNumber.invalid && customerFrmCtrls.mobileNumber.errors}"
                                                        placeholder="Contact Number *">
                                                    <div *ngIf="(customerFrmCtrls.mobileNumber.dirty || customerFrmCtrls.mobileNumber.touched) && customerFrmCtrls.mobileNumber.invalid && customerFrmCtrls.mobileNumber.errors"
                                                        class="invalid-feedback">
                                                        <span
                                                            *ngIf="customerFrmCtrls.mobileNumber.errors.required">{{reqMsg}}</span>
                                                        <span *ngIf="customerFrmCtrls.mobileNumber.errors.minlength">Minimum
                                                            length is 6</span>
                                                        <span *ngIf="customerFrmCtrls.mobileNumber.errors.maxlength">Maximum
                                                            length is 15</span>
                                                        <span
                                                        *ngIf="customerFrmCtrls.mobileNumber.errors.pattern">Invalid Mobile Format</span>
                                                    </div>
                                                </div>
                                                
                                                <div class="col-md-6 mb-3">
                                                    <textarea formControlName="address" class="form-control"
                                                        name="Address" id="" rows="3"
                                                        placeholder="Address *"
                                                        [ngClass]="{'is-invalid': (customerFrmCtrls.address.dirty || customerFrmCtrls.address.touched) && customerFrmCtrls.address.invalid && customerFrmCtrls.address.errors}"></textarea>
                                                    <div *ngIf="(customerFrmCtrls.address.dirty || customerFrmCtrls.address.touched) && customerFrmCtrls.address.invalid && customerFrmCtrls.address.errors"
                                                        class="invalid-feedback">
                                                        <span *ngIf="customerFrmCtrls.address.errors.required">{{reqMsg}}</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 mb-3">
                                                    <select formControlName="state" name="state" class="form-control"
                                                        id="state" (change)="getAllCities(customerFrmCtrls.state.value)"
                                                        [ngClass]="{'is-invalid': (customerFrmCtrls.state.dirty || customerFrmCtrls.state.touched) && customerFrmCtrls.state.invalid && customerFrmCtrls.state.errors}">
                                                        <option value="">State&nbsp;*</option>
                                                        <option *ngFor="let state of statesList"
                                                            [value]="state.stateId">{{state.stateName}}</option>
                                                    </select>
                                                    <div *ngIf="(customerFrmCtrls.state.dirty || customerFrmCtrls.state.touched) && customerFrmCtrls.state.invalid && customerFrmCtrls.state.errors"
                                                        class="invalid-feedback">
                                                        <span *ngIf="customerFrmCtrls.state.errors.required">{{reqMsg}}</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 mb-3">
                                                    <select formControlName="city" name="city" class="form-control"
                                                        id="city"
                                                        [ngClass]="{'is-invalid': (customerFrmCtrls.city.dirty || customerFrmCtrls.city.touched) && customerFrmCtrls.city.invalid && customerFrmCtrls.city.errors}">
                                                        <option value="">City&nbsp;*</option>
                                                        <option *ngFor="let city of citiesList" [value]="city.cityId">
                                                            {{city.cityName}}</option>
                                                    </select>
                                                    <div *ngIf="(customerFrmCtrls.city.dirty || customerFrmCtrls.city.touched) && customerFrmCtrls.city.invalid && customerFrmCtrls.city.errors"
                                                        class="invalid-feedback">
                                                        <span *ngIf="customerFrmCtrls.city.errors.required">{{reqMsg}}</span>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 mb-3">
                                                    <input formControlName="password" class="form-control"
                                                        type="password"
                                                        [ngClass]="{'is-invalid': (customerFrmCtrls.password.dirty || customerFrmCtrls.password.touched) && customerFrmCtrls.password.invalid && customerFrmCtrls.password.errors}"
                                                        placeholder="Password *">
                                                    <div *ngIf="(customerFrmCtrls.password.dirty || customerFrmCtrls.password.touched) && customerFrmCtrls.password.invalid && customerFrmCtrls.password.errors"
                                                        class="invalid-feedback">
                                                        <span
                                                            *ngIf="customerFrmCtrls.password.errors.required">{{reqMsg}}</span>
                                                        <span *ngIf="customerFrmCtrls.password.errors.minlength">Minimum length
                                                            is {{pwdMinLength}}</span>
                                                        <span *ngIf="customerFrmCtrls.password.errors.maxlength">Maximum length
                                                            is {{pwdMaxLength}}</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 mb-3">
                                                    <input formControlName="confirmPassword" class="form-control"
                                                        type="password"
                                                        [ngClass]="{'is-invalid': (customerFrmCtrls.confirmPassword.dirty || customerFrmCtrls.confirmPassword.touched) && customerFrmCtrls.confirmPassword.invalid && customerFrmCtrls.confirmPassword.errors}"
                                                        placeholder="Confirm Password *">
                                                    <div *ngIf="(customerFrmCtrls.confirmPassword.dirty || customerFrmCtrls.confirmPassword.touched) && customerFrmCtrls.confirmPassword.invalid && customerFrmCtrls.confirmPassword.errors"
                                                        class="invalid-feedback">
                                                        <span
                                                            *ngIf="customerFrmCtrls.confirmPassword.errors.required">{{reqMsg}}</span>
                                                        <span *ngIf="customerFrmCtrls.confirmPassword.errors.minlength">Minimum
                                                            length
                                                            is {{pwdMinLength}}</span>
                                                        <span *ngIf="customerFrmCtrls.confirmPassword.errors.maxlength">Maximum
                                                            length
                                                            is {{pwdMaxLength}}</span>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <span style="color: #cb0216;" *ngIf="customerPwdErr">{{customerPwdErr}}</span>
                                            <!-- <div class="checkbox">
                                                <input id="checkbox0" type="checkbox" name="terms">
                                                <label for="checkbox0" class="mb-0">I Agree with <a href="terms.html"
                                                        class="text-light">Terms & Conditions</a> </label>
                                            </div> -->
                                        </div>
                                    </div>
                                    <div class="form-group row text-center mt-4">
                                        <div class="col-md-12 register-btn">
                                                <span class="mt-1 mr-3" style="color: #f27526;">Click here to <a href="javascript:void(0);" class="" (click)="goToSignin()" style="color: #2FA504;font-weight: 600;">Login</a></span>
                                            <button type="submit" [disabled]="customerRegForm.invalid"
                                                class="btn btn-primary btn-block text-uppercase mr-2">Register</button>
                                                <!-- <button type="submit" [routerLink]="['/groceries/home']" class="btn btn-gray text-uppercase">Back to Home</button> -->
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="auth-footer" id="auth-footer" style="opacity: 1; display: block;">
    <div class="row  row-no-gutters mt-2">
      <div class="col-xs-12 col-sm-6 col-md-4" >
        <ul>
          <li>
            <i class="fa fa-phone" aria-hidden="true"></i><a href="tel:+919491000165">+91 9491000165</a>
          </li>           
        </ul>
      </div>     
    
      <div class="col-xs-12 col-sm-6 col-md-4" >
        <ul>
            <li>
                <i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:ringthebell365@gmail.com?subject=New Suggestion from User">ringthebell365@gmail.com</a>
             </li>
        </ul>
      </div>      
    
      <div class="col-xs-12 col-sm-6 col-md-4" >
        <ul>
            <li>
                <i class="fab fa-facebook-square mr-2" style="color: #f27526;" aria-hidden="true"></i><a href="https://www.facebook.com/rtb365" target="_blank">/rtb365</a>   
             </li>
        </ul>
      </div>
    </div>
    
    <div class="row row-no-gutters" id="bottom-footer" >
      <div class="col-xs-12 col-sm-12 col-md-12 text-center" style="border-top: 1px solid #8080803d;">
        <ul>
          <li style="color: grey;">&copy; 2020 Ring The Bell | Groceries Store | A Product from SSR Groups | All rights reserved.</li>
        </ul>
      </div>
    </div>    
</div>
<ng-template #subscriptionModal>
    <div class="modal-header">
        <h5 class="modal-title">Congratulations</h5>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <img src="assets/images/modal-icons/success.png" alt="success-emoji" style="position: relative;
            width: 15%;left: 43%;">
            <h5 class="content-center mt-2">Thank you for filling out your information!</h5>
            <small class="content-center">Enjoy the free trial for 30 days.</small>
        </div>
    </div>
</ng-template>
<ng-template #locationModal>
    <div class="modal-header">
        <h5 class="modal-title">Permission Access</h5>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <img src="assets/images/modal-icons/warning.png" alt="warning-emoji" style="position: relative;
            width: 15%;left: 43%;">
            <h4 class="content-center mt-2">Location access is denied</h4>
            <small class="content-center">Please enable permission access</small>
        </div>
    </div>
</ng-template>
<div *ngIf="loader" class="default-loader"></div>