.banner{
    height: 100vh;
    .jumbotron{
        height: 100%;
        padding: 0;
        overflow-y: auto;
    }
}
.page-content {
    width: 100%;  
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
  }
  .page-content::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(228, 226, 232, 0.5);
    /* background: -webkit-linear-gradient(left, rgba(0,168,255,0.5), rgba(185,0,255,0.5)); */
    background: -o-linear-gradient(left, rgba(0,168,255,0.5), rgba(185,0,255,0.5));
    background: -moz-linear-gradient(left, rgba(0,168,255,0.5), rgba(185,0,255,0.5));
    background: linear-gradient(left, rgba(0,168,255,0.5), rgba(185,0,255,0.5));
    pointer-events: none;
}
.store-registration{
    display: flex;
    justify-content: center;

.card-login{
    width: 100%;
    margin-top: 15px !important;
}
.register-btn{
    display: flex;
    justify-content: center;
    button{
        width: auto;
    }
}
.store-logo-upload{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .store-logo-preview{
        max-height: 250px;
        width: 250px;
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
        padding: 10px;
        border: 1px dotted #495057;
        img{
            width: 100%;
            height: 100%;
            display: block;
        }
    }
    .upload-btn-wrapper {
        position: relative;
        overflow: hidden;
        display: inline-block;
        margin-top: 10px;
      }
      
        //   .btn {
        //     border: 2px solid gray;
        //     color: gray;
        //     background-color: white;
        //     padding: 8px 20px;
        //     border-radius: 8px;
        //     font-size: 20px;
        //     font-weight: bold;
        //   }
      
      .upload-btn-wrapper input[type=file] {
        font-size: 100px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
      }
}
.card-header{
    background: #fff;
    padding: 0;
    border-bottom: 0;
    ul{
        margin-bottom: 0;
        display: flex;
        margin-left: 0;
        padding-left: 0;
        justify-content: center;
        li{
            margin-right: 20px;
            font-size: 1.1rem;
            padding: 7px 30px;
            background: #fff;
            color: #495057;    
            cursor: pointer;
        }
        li.active{
            color: #E91E63;
    font-weight: 600;
    cursor: pointer;
    border-bottom: 3px solid #E91E63;
            
        }
    }
}
.checkbox{
    display: flex;
    align-items: center;
    margin-right: 15px;
input[type=checkbox]{
    // transform: scale(1.5);
    margin-right: 10px;
    overflow: hidden;
    clear: both;
    margin-left: 5px;
}
label{
    font-weight: 600;
}
}
.delivery-inputs{
    display: flex;
    align-items: flex-start;
}
.delivery-input{
    display: flex;
    flex-direction: column;
   
}

}

.auth-footer {
    z-index: 999;
    width: 100%;
    min-height: 20px;
    box-sizing: border-box;
    // padding: 30px;
    background: #ffffffdb;
    overflow: hidden;
    // position: fixed;
    bottom: 0px;
    /* right: 30px; */
    display: none;
}

ul { 
    list-style: none; 
    margin-bottom: 0px; 
}

ul>li>a {
color: #ff6600;
text-decoration: none;
line-height: 1.8;
}
ul>li>a:hover,
a:hover{
color: #ff6600;
font-weight: 500;
}

.fa {
color: #f27526;
// margin-right: 10px;
font-size:18px;
width:2.25rem;
}
