.profile-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
};

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  .container {
    padding: 20px;
  }
  
  
  .col-50 {
    float: left;
    width: 50%;
    // margin-top: 6px;
  }
  
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }  

  .card-header {
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(43,59,93,0.12);
    border-bottom: 1px solid rgba(0, 0, 0, 0);
}