<div id="page-content" class="page-content">
    <div id="accordion" class="mt-2" style="margin-left: 25%;margin-right: 25%;">
        <div class="card mb-2">
            <div class="card-header" (click)="openAccord('profile')">
                Profile
                <i class="fa mr-2" [ngClass]="{'fa-plus': profileAccordioin, 'fa-minus': !profileAccordioin}" style="float: right; color: #F27526;"></i>
            </div>
            <div class="card-body p-3" [collapse]="profileAccordioin">
                <div class="container" style="display: flex;justify-content: center;">
                    <form style="width: inherit;" *ngIf="profileInfo">
                        <div class="row">
                            <div class="col-50">
                                <label for="fname">Full Name</label>
                            </div>
                            <div class="col-50">
                                    <label style="overflow-wrap: anywhere;">{{profileInfo.fullName | titlecase}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-50">
                                <label for="mn">Mobile Number</label>
                            </div>
                            <div class="col-50">
                                    <label style="overflow-wrap: anywhere;">{{profileInfo.mobileNumber | titlecase}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-50">
                                <label for="email">Email</label>
                            </div>
                            <div class="col-50">
                                    <label style="overflow-wrap: anywhere;">{{profileInfo.email | titlecase}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-50">
                                <label for="address">Address</label>
                            </div>
                            <div class="col-50">
                                    <label style="overflow-wrap: anywhere;">{{profileInfo.address}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-50">
                                <label for="sate">State</label>
                            </div>
                            <div class="col-50">
                                    <label style="overflow-wrap: anywhere;">{{profileInfo.state | titlecase}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-50">
                                <label for="city">City</label>
                            </div>
                            <div class="col-50">
                                    <label style="overflow-wrap: anywhere;">{{profileInfo.city | titlecase}}</label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="card mb-2">
            <div class="card-header" (click)="openAccord('pwd')">
                Change Password
                <i class="fa mr-2" [ngClass]="{'fa-plus': pwdAccordioin, 'fa-minus': !pwdAccordioin}" style="float: right; color: #F27526;"></i>
            </div>
            <div class="card-body p-3" [collapse]="pwdAccordioin">
                <form [formGroup]="pwdFrm" class="row" style="justify-content: center;" (ngSubmit)="onSubmit()">
                    <div class="text-center mt-2">
                        <div class="mb-3">
                            <input formControlName="oldPassword" class="form-control" type="password"
                                [ngClass]="{'is-invalid': (frmCtrls.oldPassword.dirty || frmCtrls.oldPassword.touched) && frmCtrls.oldPassword.invalid && frmCtrls.oldPassword.errors}"
                                placeholder="Old Password *">
                                <div *ngIf="(frmCtrls.confirmPassword.dirty || frmCtrls.confirmPassword.touched) && frmCtrls.confirmPassword.invalid && frmCtrls.confirmPassword.errors"
                                class="invalid-feedback">
                                <span
                                    *ngIf="frmCtrls.confirmPassword.errors.required">{{reqMsg}}</span>
                                <span *ngIf="frmCtrls.confirmPassword.errors.minlength">Minimum
                                    length
                                    is {{pwdMinLength}}</span>
                                <span *ngIf="frmCtrls.confirmPassword.errors.maxlength">Maximum
                                    length
                                    is {{pwdMaxLength}}</span>
                        </div>
                        </div>
                        <div class="mb-3">
                            <input formControlName="newPassword" class="form-control"
                                type="password"
                                [ngClass]="{'is-invalid': (frmCtrls.newPassword.dirty || frmCtrls.newPassword.touched) && frmCtrls.newPassword.invalid && frmCtrls.newPassword.errors}"
                                placeholder="New Password *">
                            <div *ngIf="(frmCtrls.newPassword.dirty || frmCtrls.newPassword.touched) && frmCtrls.newPassword.invalid && frmCtrls.newPassword.errors"
                                class="invalid-feedback">
                                <span
                                    *ngIf="frmCtrls.newPassword.errors.required">{{reqMsg}}</span>
                                <span *ngIf="frmCtrls.newPassword.errors.minlength">Minimum length
                                    is {{pwdMinLength}}</span>
                                <span *ngIf="frmCtrls.newPassword.errors.maxlength">Maximum length
                                    is {{pwdMaxLength}}</span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input formControlName="confirmPassword" class="form-control"
                                type="password"
                                [ngClass]="{'is-invalid': (frmCtrls.confirmPassword.dirty || frmCtrls.confirmPassword.touched) && frmCtrls.confirmPassword.invalid && frmCtrls.confirmPassword.errors}"
                                placeholder="Confirm Password *">
                            <div *ngIf="(frmCtrls.confirmPassword.dirty || frmCtrls.confirmPassword.touched) && frmCtrls.confirmPassword.invalid && frmCtrls.confirmPassword.errors"
                                class="invalid-feedback">
                                <span
                                    *ngIf="frmCtrls.confirmPassword.errors.required">{{reqMsg}}</span>
                                <span *ngIf="frmCtrls.confirmPassword.errors.minlength">Minimum
                                    length
                                    is {{pwdMinLength}}</span>
                                <span *ngIf="frmCtrls.confirmPassword.errors.maxlength">Maximum
                                    length
                                    is {{pwdMaxLength}}</span>
                            </div>
                            <span *ngIf="pwdErr" class="mand" style="margin-top: .25rem;
                            font-size: 80%;
                            color: #dc3545;">{{pwdErr}}</span>
                        </div>
                        <button type="submit" [disabled]="pwdFrm.invalid"
                            class="btn btn-primary btn-block text-uppercase mr-2">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div *ngIf="loader" class="default-loader"></div>